@charset "UTF-8";
/* style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, .secondary_nav, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, .secondary_nav, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Brandon Text';
  src: url("../fonts/brandontext-light-webfont.eot");
  src: url("../fonts/brandontext-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandontext-light-webfont.woff") format("woff"), url("../fonts/brandontext-light-webfont.ttf") format("truetype"), url("../fonts/brandontext-light-webfont.svg#brandon_textlight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../fonts/brandontext-lightitalic-webfont.eot");
  src: url("../fonts/brandontext-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandontext-lightitalic-webfont.woff") format("woff"), url("../fonts/brandontext-lightitalic-webfont.ttf") format("truetype"), url("../fonts/brandontext-lightitalic-webfont.svg#brandon_textlight_italic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../fonts/brandontext-regular-webfont.eot");
  src: url("../fonts/brandontext-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandontext-regular-webfont.woff") format("woff"), url("../fonts/brandontext-regular-webfont.ttf") format("truetype"), url("../fonts/brandontext-regular-webfont.svg#brandon_text_regularregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../fonts/brandontext-regularitalic-webfont.eot");
  src: url("../fonts/brandontext-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandontext-regularitalic-webfont.woff") format("woff"), url("../fonts/brandontext-regularitalic-webfont.ttf") format("truetype"), url("../fonts/brandontext-regularitalic-webfont.svg#brandon_textregular_italic") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../fonts/brandontext-medium-webfont.eot");
  src: url("../fonts/brandontext-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandontext-medium-webfont.woff") format("woff"), url("../fonts/brandontext-medium-webfont.ttf") format("truetype"), url("../fonts/brandontext-medium-webfont.svg#brandon_textmedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Text';
  src: url("../fonts/brandontext-bold-webfont.eot");
  src: url("../fonts/brandontext-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandontext-bold-webfont.woff") format("woff"), url("../fonts/brandontext-bold-webfont.ttf") format("truetype"), url("../fonts/brandontext-bold-webfont.svg#brandon_textbold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Printed Two';
  src: url("../fonts/brandon_printed_two-webfont.eot");
  src: url("../fonts/brandon_printed_two-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_printed_two-webfont.woff") format("woff"), url("../fonts/brandon_printed_two-webfont.ttf") format("truetype"), url("../fonts/brandon_printed_two-webfont.svg#brandon_printedtwo") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon Printed One';
  src: url("../fonts/brandon_printed_one-webfont.eot");
  src: url("../fonts/brandon_printed_one-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_printed_one-webfont.woff") format("woff"), url("../fonts/brandon_printed_one-webfont.ttf") format("truetype"), url("../fonts/brandon_printed_one-webfont.svg#brandon_printedone") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Jenna Sue';
  src: url("../fonts/jennasue-webfont.eot");
  src: url("../fonts/jennasue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jennasue-webfont.woff") format("woff"), url("../fonts/jennasue-webfont.ttf") format("truetype"), url("../fonts/jennasue-webfont.svg#jenna_sueregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Caecilia';
  src: url("../fonts/CaeciliaLTStd-Italic.eot");
  src: local("☺"), url("../fonts/CaeciliaLTStd-Italic.woff") format("woff"), url("../fonts/CaeciliaLTStd-Italic.ttf") format("truetype"), url("../fonts/CaeciliaLTStd-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Caecilia';
  src: url("../fonts/CaeciliaLTStd-LightItalic.eot");
  src: local("☺"), url("../fonts/CaeciliaLTStd-LightItalic.woff") format("woff"), url("../fonts/CaeciliaLTStd-LightItalic.ttf") format("truetype"), url("../fonts/CaeciliaLTStd-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Caecilia';
  src: url("../fonts/CaeciliaLTStd-Light.eot");
  src: local("☺"), url("../fonts/CaeciliaLTStd-Light.woff") format("woff"), url("../fonts/CaeciliaLTStd-Light.ttf") format("truetype"), url("../fonts/CaeciliaLTStd-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }
  .slider__wrapper {
    height: 100%;
    list-style: none; }
    .slider__wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .slider__item {
    height: 100%;
    float: left;
    clear: none; }
  .slider__arrows-item {
    position: absolute;
    margin-bottom: -20px;
    padding: 20px;
    text-indent: -9999px;
    opacity: 0.25;
    display: block;
    width: 26px;
    height: 45px;
    transition: opacity 300ms ease; }
    .slider__arrows-item--right {
      background: url(../images/right_arrow.svg) no-repeat center center;
      bottom: 50%;
      right: 30px; }
    .slider__arrows-item--left {
      background: url(../images/left_arrow.svg) no-repeat center center;
      bottom: 50%;
      left: 30px; }
    .slider__arrows-item:hover {
      opacity: 0.75; }
  .slider__nav {
    position: absolute;
    bottom: 30px; }
    .slider__nav-item {
      width: 12px;
      height: 12px;
      float: left;
      clear: none;
      display: block;
      margin: 0 5px;
      background: #fff; }
      .slider__nav-item--current {
        background: #ccc; }
      .slider__nav-item:hover {
        background: #ccc; }

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  left: -5px;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: -40px;
  background: url(../images/left_arrow.svg) no-repeat center center; }

.bx-wrapper .bx-next {
  right: -28px;
  background: url(../images/right_arrow.svg) no-repeat center center; }

.bx-wrapper .bx-prev:hover {
  opacity: 1; }

.bx-wrapper .bx-next:hover {
  opacity: 1; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 25px;
  height: 25px;
  opacity: 0.8;
  text-indent: -9999px;
  z-index: 9999;
  transition: all 200ms ease; }
  .bx-wrapper .bx-controls-direction a:hover {
    opacity: 1; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
  background-size: contain; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/left_arrow.png) 2% 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/right_arrow.png) 98% 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background: url(../images/close.svg) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.button-gold-solid, .wpcf7-submit {
  padding: 7px 17px;
  border: 1px solid transparent;
  color: white;
  background: #c69c6d;
  transition: all 300ms ease; }
  .button-gold-solid:hover, .wpcf7-submit:hover {
    background: #a98257;
    border: 1px solid #c69c6d;
    color: #fff; }

.button-brown-solid {
  padding: 7px 17px;
  border: 1px solid transparent;
  color: white;
  background: #31251b;
  transition: all 300ms ease; }
  .button-brown-solid:hover {
    background: #3b2f25;
    border: 1px solid #31251b;
    color: #fff; }

.button-gold-stroked {
  padding: 7px 17px;
  border: 1px solid transparent;
  border: 1px solid #c69c6d;
  color: white;
  background: none;
  transition: all 300ms ease; }
  .button-gold-stroked:hover {
    background: #a98257;
    border: 1px solid #c69c6d;
    color: #fff; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

h1 {
  font: 100px "Jenna Sue", sans-serif;
  line-height: 110px; }
  @media only screen and (max-width: 480px) {
    h1 {
      font: 80px "Jenna Sue", sans-serif;
      line-height: 90px; } }

h2 {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 10px; }

h3 {
  font: 24px "Brandon Printed One", sans-serif;
  line-height: 34px;
  color: #31251b; }

h4 {
  font-size: 24px;
  line-height: 34px; }

hr {
  border: 0;
  height: 1px;
  max-width: 50px;
  margin: 10px auto 15px auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a {
  color: #914922;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: 15px "Brandon Text", sans-serif;
  color: #818181;
  background-color: #fff;
  font-weight: 400;
  line-height: 26px;
  height: 100%; }

#page_container {
  position: relative;
  right: 0;
  top: 0;
  transition: all 300ms; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 95%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.section {
  padding: 100px 0; }
  @media only screen and (max-width: 480px) {
    .section {
      padding: 70px 0; } }

.small_section {
  padding: 40px 0; }

.intro {
  width: 95%;
  max-width: 630px;
  margin: 0 auto; }
  .intro h2 {
    margin-bottom: 40px; }

.gray {
  background-color: #efefef; }

.lwood {
  background: url(../images/light_wood.jpg) repeat center top; }
  .lwood h3 {
    text-align: center;
    margin-bottom: 10px; }
  .lwood hr {
    background: #914922; }

.dwood {
  background: url(../images/dark_wood.jpg) repeat center top; }
  .dwood h3 {
    color: white; }
  .dwood hr {
    background: #914922; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #31251b;
  opacity: 0.50; }

.aligncenter {
  text-align: center; }

.alignleft {
  text-align: left; }

.alignright {
  text-align: right; }

.grid-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .grid-6:last-child {
    margin-right: 0; }

.grid-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .grid-12:last-child {
    margin-right: 0; }

.video_container {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

#video_bg {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }
  @media only screen and (max-width: 1024px) {
    #video_bg {
      display: none; } }

body.home header {
  position: relative; }
  body.home header .overlay {
    opacity: 0.35; }
  body.home header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 9998;
    position: absolute;
    width: 100%;
    top: 45%; }
    body.home header .container h1 {
      padding-left: 20px;
      font-size: 130px;
      line-height: 140px;
      color: #efe8d7; }
      @media only screen and (max-width: 480px) {
        body.home header .container h1 {
          font-size: 60px;
          line-height: 70px; } }
      body.home header .container h1 sup {
        font-size: .4em;
        vertical-align: super; }

header {
  overflow: hidden;
  position: relative;
  min-height: 430px; }
  @media only screen and (max-width: 480px) {
    header {
      min-height: 350px; } }

header.lwood {
  padding: 200px 0 130px 0; }
  header.lwood .container {
    color: #31251b; }
    header.lwood .container h1 {
      letter-spacing: 3px; }
    header.lwood .container p {
      max-width: 60%;
      font-style: italic;
      font-size: 18px;
      line-height: 28px; }
  @media only screen and (max-width: 480px) {
    header.lwood {
      padding: 120px 0 60px 0; }
      header.lwood .container p {
        max-width: 90%; } }

.scroll_down {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  position: absolute;
  z-index: 25;
  color: #efe8d7;
  opacity: 0.5; }
  .scroll_down:after {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: url(../images/down_arrow.svg);
    display: block;
    width: 20px;
    height: 20px;
    left: 50%;
    z-index: 25; }

.header_toggle {
  display: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 17px;
  font-weight: 300;
  font-size: 20px;
  width: 22px;
  height: 12px; }
  @media only screen and (max-width: 1024px) {
    .header_toggle {
      display: block; } }

.header_toggle:hover {
  cursor: pointer; }

#mobile_nav {
  position: fixed;
  top: 12.5%;
  bottom: 12.5%;
  left: 10%;
  right: 10%;
  z-index: 10000;
  display: none; }
  #mobile_nav .overlay_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #31251b;
    opacity: 0.9; }
    #mobile_nav .overlay_bg:hover {
      cursor: pointer; }
  #mobile_nav .container {
    background: url(../images/dark_wood.jpg) repeat center right;
    position: relative;
    padding: 4px;
    width: 90%; }
    #mobile_nav .container .close_popup {
      position: absolute;
      z-index: 10001;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      top: -40px;
      right: 0;
      font-size: 50px; }
    #mobile_nav .container .navigation {
      background-color: #746a64;
      display: block;
      height: 100%; }
      #mobile_nav .container .navigation li {
        text-align: center;
        border-bottom: 1px solid #6d635d; }
      #mobile_nav .container .navigation a {
        padding: 10px 0;
        display: block;
        height: 100%;
        width: 100%;
        color: #efe8d7; }
      #mobile_nav .container .navigation .button-gold-solid, #mobile_nav .container .navigation .wpcf7-submit {
        padding: 10px 0; }

nav {
  transition: all 250ms ease;
  background: url(../images/nav_bg.png) repeat-x center bottom;
  padding: 20px 0;
  right: 0; }
  nav .logo {
    display: inline-block;
    width: 190px;
    height: 60px;
    margin: 0 0 0 3%; }
    nav .logo img {
      transition: all 300ms ease;
      width: 190px;
      height: 60px; }
  nav .navigation {
    transition: all 300ms ease;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 70.14568%;
    float: right;
    text-align: right;
    margin-right: 3% !important;
    padding: 20px 0; }
    nav .navigation:last-child {
      margin-right: 0; }
    nav .navigation li {
      text-align: right;
      display: inline-block;
      margin-left: 3%; }
    nav .navigation a {
      color: #efe8d7;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.8;
      transition: all 300ms ease; }
      nav .navigation a:hover {
        opacity: 1; }
    nav .navigation .pj_button {
      opacity: 1 !important; }
    @media only screen and (max-width: 1024px) {
      nav .navigation {
        display: none; } }

nav.small {
  padding: 10px 0; }
  nav.small .logo {
    width: 150px;
    height: 47px; }
    nav.small .logo img {
      width: 150px;
      height: 47px; }
  nav.small .navigation {
    padding: 10px 0; }

.not_sticky, .sticky {
  width: 100%;
  top: 0;
  left: 0; }

nav.not_sticky {
  position: absolute;
  z-index: 50; }

.header_toggle_brown {
  display: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 17px;
  font-weight: 300;
  font-size: 20px;
  width: 22px;
  height: 12px; }
  @media only screen and (max-width: 768px) {
    .header_toggle_brown {
      display: block; } }

.header_toggle_brown:hover {
  cursor: pointer; }

.secondary_nav_wrapper {
  border: 0;
  box-shadow: none;
  transition: all 200ms ease;
  height: auto; }
  .secondary_nav_wrapper.not_sticky {
    position: relative; }
  .secondary_nav_wrapper.sticky {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); }

.sticky {
  position: fixed;
  z-index: 9999; }

.hp_buckets {
  margin-top: 60px; }
  .hp_buckets li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-size: cover;
    margin-bottom: 30px; }
    .hp_buckets li:last-child {
      margin-right: 0; }
    .hp_buckets li .bucket_bg {
      position: relative;
      height: 325px;
      margin-bottom: 20px;
      backface-visibility: hidden; }
      .hp_buckets li .bucket_bg a {
        position: absolute;
        z-index: 20;
        display: block;
        height: 100%;
        width: 100%;
        text-indent: -9999px; }
      .hp_buckets li .bucket_bg .overlay {
        background: #31251b;
        opacity: 0.70;
        transition: opacity 300ms ease; }
      .hp_buckets li .bucket_bg .bucket_content {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        font: 20px "Caecilia", sans-serif;
        color: #efe8d7;
        text-transform: uppercase;
        font-weight: 600;
        font-style: italic;
        position: relative;
        z-index: 15; }
        .hp_buckets li .bucket_bg .bucket_content hr {
          background: #c69c6d; }
      .hp_buckets li .bucket_bg:hover .overlay {
        opacity: 0.85; }
    .hp_buckets li .description {
      font-style: italic;
      color: #31251b; }
      .hp_buckets li .description a {
        font-style: normal;
        color: inherit;
        font-weight: 600; }
    @media only screen and (max-width: 480px) {
      .hp_buckets li {
        width: 100%;
        margin-right: 0;
        margin-left: 0; }
        .hp_buckets li .bucket_bg {
          height: 225px;
          margin-bottom: 5px; } }
  .hp_buckets .floorplans_bucket {
    background: url(../images/floorplans_bucket_bg.jpg) no-repeat center center; }
  .hp_buckets .communities_bucket {
    background: url(../images/communities_bucket_bg.jpg) no-repeat center center; }
  .hp_buckets .movein_bucket {
    background: url(../images/movein_bucket_bg.jpg) no-repeat center center; }

.why_us {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .why_us:last-child {
    margin-right: 0; }
  .why_us h3 {
    margin-bottom: 10px; }
  @media only screen and (max-width: 480px) {
    .why_us {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.values {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .values:last-child {
    margin-right: 0; }
  .values h3 {
    font-family: "Brandon Text", sans-serif;
    font-weight: 600; }
  .values ul {
    margin-top: 45px; }
    .values ul li {
      position: relative;
      padding-left: 50px;
      margin-bottom: 35px; }
      .values ul li:before {
        position: absolute;
        top: -3px;
        left: 0;
        content: "";
        width: 35px;
        height: 35px;
        background: url(../images/bullet.svg) no-repeat center center; }
  @media only screen and (max-width: 480px) {
    .values {
      width: 100%;
      margin-top: 40px;
      margin-right: 0;
      margin-left: 0; } }

.aspen_difference {
  padding: 140px 0;
  background: url(../images/aspen_difference.jpg) no-repeat center bottom;
  background-size: cover; }
  .aspen_difference .container {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #bfbfbf; }
    .aspen_difference .container h2 {
      font: 50px "Caecilia", sans-serif;
      line-height: 60px;
      font-weight: 300;
      font-style: italic;
      color: #efe8d7; }
    .aspen_difference .container p {
      font-weight: 300;
      margin-bottom: 35px;
      font-size: 18px;
      line-height: 28px; }

.featured_in {
  padding: 35px 0; }
  .featured_in ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    text-align: center;
    line-height: 60px;
    height: 60px; }
    .featured_in ul li:last-child {
      margin-right: 0; }
    .featured_in ul li.builder img {
      padding-top: 5px; }
    .featured_in ul li a {
      display: block;
      width: 100%;
      height: 100%; }
    .featured_in ul li img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }
    @media only screen and (max-width: 1024px) {
      .featured_in ul li {
        width: 15%;
        margin-right: 5%;
        margin-left: 5%; }
        .featured_in ul li:first-child {
          width: 100%;
          margin-right: 0;
          margin-left: 0;
          line-height: 25px;
          height: auto;
          margin-bottom: 15px; } }
    @media only screen and (max-width: 480px) {
      .featured_in ul li {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        line-height: 24px;
        margin-bottom: 10px;
        height: 40px; }
        .featured_in ul li.builder img {
          padding-top: 0; }
        .featured_in ul li:last-child {
          margin-bottom: 0; }
        .featured_in ul li img {
          max-width: 60%;
          max-height: 100%;
          width: auto;
          height: auto; } }

#popup, #form_popup, #mc_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none; }
  #popup .overlay_bg, #form_popup .overlay_bg, #mc_popup .overlay_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #31251b;
    opacity: 0.9; }
    #popup .overlay_bg:hover, #form_popup .overlay_bg:hover, #mc_popup .overlay_bg:hover {
      cursor: pointer; }
  #popup .container, #form_popup .container, #mc_popup .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    background-color: #746a64;
    padding: 4px;
    max-height: 600px;
    overflow: scroll; }
    #popup .container .close_popup, #form_popup .container .close_popup, #mc_popup .container .close_popup {
      position: absolute;
      z-index: 10001;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      top: -40px;
      right: 0;
      font-size: 50px; }
  #popup .pj_video, #form_popup .pj_video, #mc_popup .pj_video {
    position: relative;
    padding-bottom: 52%;
    padding-top: 35px;
    height: 0;
    overflow: hidden; }
    #popup .pj_video iframe, #form_popup .pj_video iframe, #mc_popup .pj_video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #popup.opened, .opened#form_popup, .opened#mc_popup {
    display: block; }

#popup.form .form_header, .form#form_popup .form_header, .form#mc_popup .form_header {
  padding: 20px;
  text-align: center; }
  #popup.form .form_header p, .form#form_popup .form_header p, .form#mc_popup .form_header p {
    color: white;
    font-style: italic;
    margin-bottom: 5px; }
  #popup.form .form_header #form_title, .form#form_popup .form_header #form_title, .form#mc_popup .form_header #form_title {
    background: none;
    padding: 0;
    text-align: center;
    font-family: "Brandon Printed One", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #c69c6d; }
#popup.form .grid-6, .form#form_popup .grid-6, .form#mc_popup .grid-6 {
  width: 49.5%;
  margin-right: 1%;
  margin-bottom: 1%; }
  #popup.form .grid-6.omega, .form#form_popup .grid-6.omega, .form#mc_popup .grid-6.omega {
    margin-right: 0; }
#popup.form .grid-12, .form#form_popup .grid-12, .form#mc_popup .grid-12 {
  width: 100%;
  margin-right: 0;
  margin-bottom: 1%; }
#popup.form .field_group, .form#form_popup .field_group, .form#mc_popup .field_group {
  height: 49px;
  overflow: hidden; }
#popup.form .form_submit, .form#form_popup .form_submit, .form#mc_popup .form_submit {
  margin: 0;
  width: 100%;
  max-width: none; }

#form_popup .container {
  max-width: 350px; }
  #form_popup .container .login {
    background-color: white;
    padding-top: 20px; }
    #form_popup .container .login iframe {
      display: block;
      width: 100%;
      height: 100px; }
      #form_popup .container .login iframe body {
        background-color: #746a64 !important;
        height: auto;
        padding: 20px 0; }

#mc_popup .container {
  max-width: 600px; }
#mc_popup p {
  padding: 10px 0;
  text-align: center;
  color: white;
  font-style: italic; }
#mc_popup label {
  color: white; }
#mc_popup .grid-6 {
  width: 49.5%;
  margin-right: 1%;
  margin-bottom: 1%; }
  #mc_popup .grid-6.omega {
    margin-right: 0; }
#mc_popup .grid-12 {
  width: 100%;
  margin-right: 0;
  margin-bottom: 1%; }
#mc_popup .field_group {
  height: 49px;
  overflow: hidden; }
#mc_popup .button-gold-solid, #mc_popup .wpcf7-submit {
  width: 100%;
  outline: none;
  margin: 0;
  font: 15px "Brandon Text", sans-serif; }
  #mc_popup .button-gold-solid:hover, #mc_popup .wpcf7-submit:hover {
    cursor: pointer; }

.row {
  margin: 100px auto 100px auto;
  padding-bottom: 100px;
  border-bottom: 1px solid #e5e5e5; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row:last-child {
    border-bottom: 0;
    margin-bottom: 0; }
  @media only screen and (max-width: 480px) {
    .row {
      margin: 60px auto 60px;
      padding-bottom: 40px; } }

.row_image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 36.02647%;
  position: relative;
  min-height: 280px;
  text-align: center; }
  .row_image:last-child {
    margin-right: 0; }
  .row_image img {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle; }
  @media only screen and (max-width: 480px) {
    .row_image {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      min-height: 0;
      height: auto; }
      .row_image img {
        display: block;
        vertical-align: top; } }

.row.right .row_image {
  float: right;
  margin-left: 2.35765%;
  margin-right: 0; }
.row.right .row_description {
  margin-right: 2.35765%;
  margin-left: 0; }

.row_description {
  margin-left: 4.2649%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .row_description:last-child {
    margin-right: 0; }
  .row_description hr {
    margin-left: 0;
    background: #914922; }
  .row_description p {
    margin-bottom: 30px; }
  .row_description a {
    color: #31251b; }
  @media only screen and (max-width: 480px) {
    .row_description {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.best_of img {
  max-width: 375px;
  height: auto; }

.hp_news {
  position: relative;
  background: url(../images/hp_news_bg.jpg) no-repeat center bottom;
  background-size: cover; }
  .hp_news h3 {
    color: #efe8d7;
    text-align: center; }
  .hp_news hr {
    background: #efe8d7; }
  .hp_news .hp_news_slider {
    margin-top: 60px; }
  @media only screen and (max-width: 768px) {
    .hp_news .slider__arrows {
      display: none; } }

.community_links h3 {
  text-align: center; }
.community_links hr {
  background: #c69c6d; }
.community_links .cl_section {
  margin-top: 35px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .community_links .cl_section:last-child {
    margin-right: 0; }
  .community_links .cl_section h5 {
    color: #31251b;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px; }
  .community_links .cl_section a {
    color: #c69c6d;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    transition: all 300ms ease; }
    .community_links .cl_section a:hover {
      color: #a98257; }
  @media only screen and (max-width: 480px) {
    .community_links .cl_section {
      width: 50%;
      margin-right: 0;
      margin-top: 15px; }
      .community_links .cl_section:nth-child(2n+1) {
        clear: both; } }

.entry_sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .entry_sidebar:last-child {
    margin-right: 0; }
  .entry_sidebar .entry_date {
    text-transform: uppercase;
    font-weight: 600;
    color: #914922;
    margin-bottom: 25px; }
  @media only screen and (max-width: 480px) {
    .entry_sidebar {
      width: 100%;
      margin-right: 0;
      margin-left: 0; }
      .entry_sidebar .entry_date {
        margin-bottom: 5px; } }

.entry_content_wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .entry_content_wrapper:last-child {
    margin-right: 0; }
  .entry_content_wrapper .entry_header h2, .entry_content_wrapper .entry_header h2 a {
    font: 50px "Caecilia", sans-serif;
    line-height: 55px;
    font-weight: 300;
    font-style: italic;
    color: #31251b;
    margin-bottom: 0; }
  .entry_content_wrapper .entry_header .entry_meta {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
    color: #c69c6d; }
    .entry_content_wrapper .entry_header .entry_meta a {
      color: #914922; }
  .entry_content_wrapper .entry_content {
    margin-top: 20px; }
    .entry_content_wrapper .entry_content em {
      font-style: italic; }
    .entry_content_wrapper .entry_content strong {
      font-weight: bold; }
    .entry_content_wrapper .entry_content img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 15px auto; }
  .entry_content_wrapper p {
    margin: 15px 0; }
  .entry_content_wrapper .entry_button {
    margin-top: 30px; }
  @media only screen and (max-width: 480px) {
    .entry_content_wrapper {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  .entry_content_wrapper ul li {
    list-style: disc;
    margin-left: 30px; }

.post_navigation {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid #d3d3d3; }
  .post_navigation a {
    color: #31251b; }
  .post_navigation .post_nav_item {
    position: relative; }
    .post_navigation .post_nav_item.previous {
      float: left; }
      .post_navigation .post_nav_item.previous a {
        padding-left: 25px; }
      .post_navigation .post_nav_item.previous a:before {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: url(../images/left_arrow_gold.svg);
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0; }
    .post_navigation .post_nav_item.next {
      text-align: right;
      float: right; }
      .post_navigation .post_nav_item.next a {
        padding-right: 25px; }
      .post_navigation .post_nav_item.next a:before {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: url(../images/right_arrow_gold.svg);
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0; }

.home .post {
  color: #bfbfbf; }
  .home .post .entry_sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .home .post .entry_sidebar:last-child {
      margin-right: 0; }
    .home .post .entry_sidebar .entry_date {
      color: #efe8d7; }
    @media only screen and (max-width: 480px) {
      .home .post .entry_sidebar {
        width: 100%;
        margin-right: 0;
        margin-left: 0; }
        .home .post .entry_sidebar .entry_date {
          margin-bottom: 5px; } }
  .home .post .entry_content_wrapper .entry_header h2, .home .post .entry_content_wrapper .entry_header h2 a {
    color: #efe8d7; }
  .home .post .entry_content_wrapper .entry_header .entry_meta a {
    color: #efe8d7; }

.entry_share .ssba a {
  display: block;
  width: 20px;
  height: 20px;
  outline: none;
  border: 0;
  text-decoration: none;
  margin-bottom: 15px; }
  .entry_share .ssba a img {
    display: none; }
@media only screen and (max-width: 480px) {
  .entry_share .ssba a {
    display: inline-block;
    margin-right: 5px; } }

.entry_share.copper .ssba_facebook_share {
  background: url(../images/facebook_copper.svg); }
.entry_share.copper .ssba_twitter_share {
  background: url(../images/twitter_copper.svg); }
.entry_share.copper .ssba_pinterest_share {
  background: url(../images/pinterest_copper.svg); }

.entry_share .ssba_facebook_share {
  background: url(../images/facebook_yellow.svg); }
.entry_share .ssba_twitter_share {
  background: url(../images/twitter_yellow.svg); }
.entry_share .ssba_pinterest_share {
  background: url(../images/pinterest_yellow.svg); }

.blog article,
.archive article,
.category article {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 150px 0;
  position: relative;
  color: #efe8d7;
  border-bottom: 1px solid #37281e; }
  .blog article .overlay,
  .archive article .overlay,
  .category article .overlay {
    opacity: 0.8; }
  .blog article .container,
  .archive article .container,
  .category article .container {
    position: relative;
    z-index: 20; }
    .blog article .container .entry_title a,
    .archive article .container .entry_title a,
    .category article .container .entry_title a {
      color: #efe8d7; }
    .blog article .container .entry_date,
    .archive article .container .entry_date,
    .category article .container .entry_date {
      color: #efe8d7; }
  @media only screen and (max-width: 760px) {
    .blog article,
    .archive article,
    .category article {
      padding: 80px 0; } }

.single-post #main,
.single-gallery #main {
  padding-top: 100px; }
  @media only screen and (max-width: 480px) {
    .single-post #main,
    .single-gallery #main {
      padding-top: 40px; } }

.gallery_navigation {
  display: inline-block;
  padding-bottom: 60px; }
  .gallery_navigation .gallery_nav_item {
    float: left;
    width: 200px;
    font-style: italic;
    border-bottom: 1px solid #31251b;
    padding: 5px 0;
    transition: all 200ms ease;
    opacity: 0.4;
    color: #31251b; }
    .gallery_navigation .gallery_nav_item.active {
      opacity: 1;
      border-bottom: 2px solid #31251b; }
    .gallery_navigation .gallery_nav_item:hover {
      opacity: 1;
      cursor: pointer; }
  @media only screen and (max-width: 480px) {
    .gallery_navigation .gallery_nav_item {
      width: auto;
      padding: 5px 20px; } }

.gallery_buckets_wrapper {
  position: relative;
  min-height: 250px; }

.gallery_buckets {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease; }
  .gallery_buckets:after {
    content: "";
    display: table;
    clear: both; }

.gallery_buckets.active {
  opacity: 1 !important;
  z-index: 100; }

.gallery_bucket {
  background-position: center center;
  background-size: cover;
  width: 32.333%;
  float: left;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  height: 230px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: all 300ms ease;
  backface-visibility: hidden; }
  .gallery_bucket a {
    display: block;
    width: 100%;
    height: 100%; }
  .gallery_bucket .gallery_title {
    font: 18px "Caecilia", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #efe8d7;
    background: #31251b;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20; }
  .gallery_bucket:hover {
    opacity: 0.8; }
  .gallery_bucket:nth-child(3n) {
    margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .gallery_bucket {
      width: 48%; }
      .gallery_bucket:nth-child(2n) {
        margin-right: 0; }
      .gallery_bucket:nth-child(3n) {
        margin-right: 1%; } }
  @media only screen and (max-width: 480px) {
    .gallery_bucket {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px; } }

.single-floor_plan header,
.single-move_in_ready header {
  text-align: center;
  background-size: cover;
  background-position: center center; }
  .single-floor_plan header .overlay,
  .single-move_in_ready header .overlay {
    background: white;
    opacity: 0.70; }
  .single-floor_plan header .container,
  .single-move_in_ready header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 9997;
    position: absolute;
    width: 100%; }
    .single-floor_plan header .container h2,
    .single-move_in_ready header .container h2 {
      color: #31251b;
      font: 45px "Brandon Printed One", sans-serif;
      line-height: 55px; }
  @media only screen and (max-width: 768px) {
    .single-floor_plan header,
    .single-move_in_ready header {
      min-height: 360px; }
      .single-floor_plan header .container h2,
      .single-move_in_ready header .container h2 {
        width: 80%;
        margin: auto; } }
  @media only screen and (max-width: 480px) {
    .single-floor_plan header,
    .single-move_in_ready header {
      min-height: 270px; }
      .single-floor_plan header .container h2,
      .single-move_in_ready header .container h2 {
        font-size: 30px;
        line-height: 40px;
        margin: auto; }
      .single-floor_plan header .container img,
      .single-move_in_ready header .container img {
        top: 35px !important;
        max-height: 40px !important; } }

.fp_post_nav .fp_post_nav_item a {
  background: #31251b;
  position: absolute;
  top: 55%;
  padding: 10px 30px;
  transition: all 300ms ease;
  display: block;
  width: 180px;
  z-index: 25;
  color: #c69c6d; }
.fp_post_nav .previous a {
  left: -150px;
  text-align: right; }
  .fp_post_nav .previous a:hover {
    left: 0; }
.fp_post_nav .next a {
  right: -150px;
  text-align: left; }
  .fp_post_nav .next a:hover {
    right: 0; }
@media only screen and (max-width: 1024px) {
  .fp_post_nav .fp_post_nav_item a {
    background: #31251b;
    position: absolute;
    top: 55%;
    padding: 10px;
    transition: all 300ms ease;
    display: block;
    width: 45px;
    height: 45px;
    z-index: 9998;
    color: transparent; }
    .fp_post_nav .fp_post_nav_item a:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 25px;
      margin-left: -12px;
      margin-top: -12px;
      display: block; }
  .fp_post_nav .previous a {
    left: 0;
    text-align: left; }
    .fp_post_nav .previous a:hover {
      left: 0; }
    .fp_post_nav .previous a:before {
      content: url(../images/left_arrow_gold.svg); }
  .fp_post_nav .next a {
    right: 0;
    text-align: left; }
    .fp_post_nav .next a:hover {
      right: 0; }
    .fp_post_nav .next a:before {
      content: url(../images/right_arrow_gold.svg); } }
@media only screen and (max-width: 480px) {
  .fp_post_nav .fp_post_nav_item a {
    background: #31251b;
    position: absolute;
    top: 55%;
    padding: 10px;
    transition: all 300ms ease;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 9998;
    color: transparent; }
    .fp_post_nav .fp_post_nav_item a:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      margin-left: -7px;
      margin-top: -10px;
      display: block; } }

.details_wrapper,
.secondary_nav_wrapper {
  padding: 30px 0 20px 0;
  text-align: center; }
  .details_wrapper h4,
  .secondary_nav_wrapper h4 {
    font-size: 13px;
    display: none;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 5%;
    top: 13px;
    color: #31251b; }
    @media only screen and (max-width: 768px) {
      .details_wrapper h4,
      .secondary_nav_wrapper h4 {
        display: block; } }
  .details_wrapper .container,
  .secondary_nav_wrapper .container {
    width: 94%;
    max-width: none; }

@media only screen and (max-width: 768px) {
  .page-template-page-city-community-php .secondary_nav_wrapper {
    padding: 10px 0 5px 0;
    height: 60px; }
    .page-template-page-city-community-php .secondary_nav_wrapper .secondary_nav {
      display: none; }
    .page-template-page-city-community-php .secondary_nav_wrapper.toggled {
      height: auto; }
      .page-template-page-city-community-php .secondary_nav_wrapper.toggled .secondary_nav {
        margin-top: 40px;
        display: block; }
        .page-template-page-city-community-php .secondary_nav_wrapper.toggled .secondary_nav li {
          width: 100%;
          border-right: 0; } }

.details,
.secondary_nav {
  display: inline-block; }
  .details li,
  .secondary_nav li {
    display: inline-block;
    *display: inline;
    /*IE7*/
    *zoom: 1;
    /*IE7*/
    border-right: 1px solid rgba(49, 37, 27, 0.3);
    color: #31251b;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 18px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 10px; }
    .details li:last-child,
    .secondary_nav li:last-child {
      border-right: 0; }
    .details li a,
    .secondary_nav li a {
      color: inherit;
      font-size: 12px; }

.single-move_in_ready .price {
  color: #914922;
  font-size: 18px;
  font-weight: 700; }

.single-floor_plan header .container {
  top: 55%; }
.single-floor_plan .sqft {
  color: #914922;
  font-size: 18px;
  font-weight: 700; }

.single-floor_plan .floorplan_images_wrapper {
  padding-bottom: 0; }

.floorplan_images_wrapper hr {
  background: #914922;
  margin-left: 0; }
.floorplan_images_wrapper .floorplan_images {
  margin-top: 30px; }
  .floorplan_images_wrapper .floorplan_images li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 44.55627%;
    height: 300px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px; }
    .floorplan_images_wrapper .floorplan_images li:last-child {
      margin-right: 0; }
    .floorplan_images_wrapper .floorplan_images li:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
      /* Adjusts for spacing */ }
    .floorplan_images_wrapper .floorplan_images li:nth-child(even) {
      margin-left: 4.2649%; }
    .floorplan_images_wrapper .floorplan_images li:nth-child(2n+1) {
      clear: both; }
    .floorplan_images_wrapper .floorplan_images li img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }
    .floorplan_images_wrapper .floorplan_images li:only-of-type {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  @media only screen and (max-width: 480px) {
    .floorplan_images_wrapper .floorplan_images {
      margin-top: 0; }
      .floorplan_images_wrapper .floorplan_images li {
        width: 100%;
        margin: 20px 0; } }

.single-floor_plan .features_wrapper {
  margin-top: 100px; }

.features_wrapper h3 {
  color: white; }
.features_wrapper hr {
  margin-left: 0; }
.features_wrapper .features {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.49666%;
  color: #c69c6d;
  font-style: italic; }
  .features_wrapper .features:last-child {
    margin-right: 0; }
  .features_wrapper .features li {
    margin-left: 20px;
    list-style: disc; }
  @media only screen and (max-width: 480px) {
    .features_wrapper .features {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.bx-wrapper {
  position: relative;
  margin: 50px auto 60px;
  padding: 0;
  *zoom: 1;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 61.61588%;
  float: right;
  right: 20px;
  margin-top: 50px !important; }
  .bx-wrapper:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 480px) {
    .bx-wrapper {
      width: 85%;
      left: -7%;
      margin-right: auto; } }

.images {
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  width: 100%; }
  .images .item {
    list-style: none !important;
    margin: 0 !important; }

.images img {
  display: inline-block;
  margin: 0 !important;
  width: 100%;
  padding: 1px; }

.available_in, .single-community .row .sing_comm_highlights {
  color: #31251b;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .available_in:last-child, .single-community .row .sing_comm_highlights:last-child {
    margin-right: 0; }
  .available_in h3, .single-community .row .sing_comm_highlights h3 {
    text-align: left; }
  .available_in hr, .single-community .row .sing_comm_highlights hr {
    margin-left: 0; }
  .available_in li, .single-community .row .sing_comm_highlights li {
    margin-left: 20px;
    list-style: disc;
    font-style: italic; }
    .available_in li a, .single-community .row .sing_comm_highlights li a {
      color: inherit; }
  @media only screen and (max-width: 768px) {
    .available_in, .single-community .row .sing_comm_highlights {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .available_in:last-child, .single-community .row .sing_comm_highlights:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 480px) {
    .available_in, .single-community .row .sing_comm_highlights {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.floorplan_buttons {
  margin-left: 0%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .floorplan_buttons:last-child {
    margin-right: 0; }
  .floorplan_buttons h3 {
    text-align: left;
    color: #31251b; }
  .floorplan_buttons hr {
    margin-left: 0; }
  .floorplan_buttons a {
    text-align: center;
    display: block;
    width: 100%;
    color: #31251b;
    font-weight: 600;
    margin: 10px 0;
    max-width: 220px; }
  @media only screen and (max-width: 768px) {
    .floorplan_buttons {
      margin-left: 0%; }
      .floorplan_buttons a {
        max-width: none; } }
  @media only screen and (max-width: 480px) {
    .floorplan_buttons {
      margin-top: 30px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.floorplan_featured_image {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }
  .floorplan_featured_image img {
    max-width: 100%;
    height: auto; }

.floorplan_buckets {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 6.6%; }
  .floorplan_buckets:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .floorplan_buckets {
      width: 100%;
      margin-right: 0; } }

.fp_bucket {
  margin-bottom: 20px;
  display: table;
  table-layout: fixed;
  width: 100%; }
  .fp_bucket:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 768px) {
    .fp_bucket {
      width: 100%;
      display: block; } }
  .fp_bucket .fp_bucket_image {
    width: 40%;
    height: 100%;
    display: table-cell;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .fp_bucket .fp_bucket_image a {
      display: block;
      height: 100%;
      width: 100%;
      text-indent: -9999px; }
      .fp_bucket .fp_bucket_image a img {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: block; }
    @media only screen and (max-width: 760px) {
      .fp_bucket .fp_bucket_image {
        width: 100%;
        display: block;
        border-top: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-bottom: 0;
        height: 270px; } }
    @media only screen and (max-width: 480px) {
      .fp_bucket .fp_bucket_image {
        width: 100%;
        display: block;
        border-top: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-bottom: 0;
        height: 200px; } }
  .fp_bucket .fp_bucket_info_wrapper {
    width: 60%;
    display: table-cell;
    color: #efe8d7;
    padding: 30px;
    position: relative;
    vertical-align: middle; }
    @media only screen and (max-width: 760px) {
      .fp_bucket .fp_bucket_info_wrapper {
        width: 100%;
        display: block; }
        .fp_bucket .fp_bucket_info_wrapper:after {
          content: "";
          display: table;
          clear: both; } }
    .fp_bucket .fp_bucket_info_wrapper h3 a {
      color: inherit; }
    .fp_bucket .fp_bucket_info_wrapper hr {
      margin-left: 0; }
    .fp_bucket .fp_bucket_info_wrapper h5 {
      position: absolute;
      top: 30px;
      right: 30px;
      font: 18px "Brandon Printed One", sans-serif;
      color: #c69c6d;
      text-transform: uppercase; }
      @media only screen and (max-width: 1024px) {
        .fp_bucket .fp_bucket_info_wrapper h5 {
          position: relative;
          top: auto;
          right: auto; } }
    .fp_bucket .fp_bucket_info_wrapper .fp_bucket_info {
      float: left;
      display: block;
      margin-right: 5.85151%;
      width: 57.6594%; }
      .fp_bucket .fp_bucket_info_wrapper .fp_bucket_info:last-child {
        margin-right: 0; }
      .fp_bucket .fp_bucket_info_wrapper .fp_bucket_info .sqft {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase; }
      .fp_bucket .fp_bucket_info_wrapper .fp_bucket_info li {
        float: left;
        line-height: 18px;
        border-right: 1px solid rgba(198, 156, 109, 0.5);
        padding-right: 10px;
        margin: 5px 10px 5px 0; }
        .fp_bucket .fp_bucket_info_wrapper .fp_bucket_info li:nth-child(odd) {
          border-right: 0; }
    .fp_bucket .fp_bucket_info_wrapper .fp_bucket_button {
      position: absolute;
      bottom: 30px;
      right: 30px; }
  .fp_bucket:nth-child(1n) .dwood {
    background-position: center center; }
  .fp_bucket:nth-child(2n) .dwood {
    background-position: right top; }
  .fp_bucket:nth-child(3n) .dwood {
    background-position: left bottom; }
  .fp_bucket:nth-child(4n) .dwood {
    background-position: right bottom; }

.fp_filters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.49666%;
  float: right;
  margin-bottom: 30px; }
  .fp_filters:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .fp_filters {
      width: 100%;
      margin-right: 0; } }
  .fp_filters .seachform-floorplan {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5; }
    .fp_filters .seachform-floorplan .search_input {
      position: relative;
      float: left;
      vertical-align: top;
      width: 75%; }
      .fp_filters .seachform-floorplan .search_input:before {
        position: absolute;
        top: -3px;
        left: 0;
        content: "";
        width: 20px;
        height: 20px;
        background: url(../images/search.svg) no-repeat center center; }
    .fp_filters .seachform-floorplan .button-gold-solid, .fp_filters .seachform-floorplan .wpcf7-submit {
      float: left;
      height: 49px;
      width: 25%;
      padding: 5px 10px; }
  .fp_filters .filter-floorplan .button-brown-solid {
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center; }
  .fp_filters.fixed {
    position: fixed;
    top: 110px;
    right: 4.85765%; }

.search_header {
  margin-bottom: 20px; }

.mi_buckets:after {
  content: "";
  display: table;
  clear: both; }
.mi_buckets .mi_bucket {
  width: 100%;
  min-height: 570px;
  overflow: hidden;
  border-bottom: 2px solid #37281e; }
  .mi_buckets .mi_bucket:last-child {
    border-bottom: 0; }
  .mi_buckets .mi_bucket:nth-child(1n) .dwood {
    background-position: center center; }
  .mi_buckets .mi_bucket:nth-child(2n) .dwood {
    background-position: right top; }
  .mi_buckets .mi_bucket:nth-child(3n) .dwood {
    background-position: left bottom; }
  .mi_buckets .mi_bucket:nth-child(4n) .dwood {
    background-position: right bottom; }
  .mi_buckets .mi_bucket .mi_bucket_info_wrapper {
    min-height: 570px;
    padding: 30px 50px 50px 30px;
    float: left;
    width: 25%;
    color: white;
    overflow: auto; }
    .mi_buckets .mi_bucket .mi_bucket_info_wrapper .mi_bucket_header h3 {
      color: #efe8d7; }
    .mi_buckets .mi_bucket .mi_bucket_info_wrapper .mi_bucket_header address {
      margin-top: 20px;
      margin-bottom: 20px; }
    .mi_buckets .mi_bucket .mi_bucket_info_wrapper .mi_bucket_sqft {
      font-weight: 600;
      text-transform: uppercase;
      color: #efe8d7; }
    .mi_buckets .mi_bucket .mi_bucket_info_wrapper .mi_bucket_price {
      color: white;
      margin: 30px 0 20px 0; }
    @media only screen and (max-width: 768px) {
      .mi_buckets .mi_bucket .mi_bucket_info_wrapper {
        width: 100%;
        min-height: 0;
        height: auto; } }
  .mi_buckets .mi_bucket .mi_bucket_image {
    min-height: 570px;
    float: right;
    width: 75%;
    overflow: hidden;
    background-color: #31251b;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; }
    .mi_buckets .mi_bucket .mi_bucket_image a {
      display: block;
      width: 100%;
      min-height: 570px;
      position: relative; }
      .mi_buckets .mi_bucket .mi_bucket_image a span {
        display: none; }
      .mi_buckets .mi_bucket .mi_bucket_image a .overlay {
        transition: all 200ms ease;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden; }
      .mi_buckets .mi_bucket .mi_bucket_image a:hover .overlay {
        opacity: 0.3; }
    .mi_buckets .mi_bucket .mi_bucket_image.pending a, .mi_buckets .mi_bucket .mi_bucket_image.sold a {
      text-align: center; }
      .mi_buckets .mi_bucket .mi_bucket_image.pending a .overlay, .mi_buckets .mi_bucket .mi_bucket_image.sold a .overlay {
        transition: all 200ms ease;
        opacity: 0.5; }
      .mi_buckets .mi_bucket .mi_bucket_image.pending a:hover .overlay, .mi_buckets .mi_bucket .mi_bucket_image.sold a:hover .overlay {
        opacity: 0.6; }
    .mi_buckets .mi_bucket .mi_bucket_image.pending img.pending, .mi_buckets .mi_bucket .mi_bucket_image.sold img.pending {
      position: absolute;
      z-index: 30;
      height: 200px;
      width: 492px;
      top: 50% !important;
      left: 50% !important;
      margin-top: -100px;
      margin-left: -246px;
      opacity: 1 !important; }
      @media only screen and (max-width: 480px) {
        .mi_buckets .mi_bucket .mi_bucket_image.pending img.pending, .mi_buckets .mi_bucket .mi_bucket_image.sold img.pending {
          height: 100px;
          width: 246px;
          margin-top: -50px;
          margin-left: -123px; } }
    .mi_buckets .mi_bucket .mi_bucket_image.pending img.sold, .mi_buckets .mi_bucket .mi_bucket_image.sold img.sold {
      position: absolute;
      z-index: 30;
      height: 200px;
      width: 365px;
      top: 50% !important;
      left: 50% !important;
      margin-top: -100px;
      margin-left: -182px;
      opacity: 1 !important; }
      @media only screen and (max-width: 480px) {
        .mi_buckets .mi_bucket .mi_bucket_image.pending img.sold, .mi_buckets .mi_bucket .mi_bucket_image.sold img.sold {
          height: 100px;
          width: 182px;
          margin-top: -50px;
          margin-left: -91px; } }
    @media only screen and (max-width: 768px) {
      .mi_buckets .mi_bucket .mi_bucket_image {
        background-size: cover;
        width: 100%;
        min-height: 350px;
        height: auto; }
        .mi_buckets .mi_bucket .mi_bucket_image a {
          min-height: 250px; } }
    @media only screen and (max-width: 480px) {
      .mi_buckets .mi_bucket .mi_bucket_image {
        min-height: 250px; } }

.single-move_in_ready header .container {
  top: 55%; }
  .single-move_in_ready header .container h2 {
    position: relative;
    z-index: 30; }
  .single-move_in_ready header .container img {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 25;
    max-height: 90px;
    height: auto;
    width: 100%;
    opacity: 0.6;
    transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    /* IE 9 */
    -webkit-transform: rotate(7.5deg);
    /* Opera, Chrome, and Safari */ }

.mi_meta {
  text-transform: uppercase; }
  .mi_meta a {
    color: inherit; }
  .mi_meta .community {
    margin-right: 20px; }
  .mi_meta .map_it {
    white-space: nowrap; }
    .mi_meta .map_it a {
      position: relative;
      color: #914922;
      padding-left: 25px; }
      .mi_meta .map_it a img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 20px;
        height: 20px; }

.mi_description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%; }
  .mi_description:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 480px) {
    .mi_description {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.mi_image {
  margin-left: 12.79471%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  float: right; }
  .mi_image:last-child {
    margin-right: 0; }
  .mi_image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; }
  @media only screen and (max-width: 480px) {
    .mi_image {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; } }

.mi_footer {
  color: #31251b; }

.listing_info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%;
  text-align: left; }
  .listing_info:last-child {
    margin-right: 0; }
  .listing_info h3 {
    text-align: left; }
  .listing_info hr {
    margin-left: 0; }
  .listing_info li {
    float: left;
    margin-right: 10px; }
    .listing_info li span {
      font-weight: 600; }
  @media only screen and (max-width: 768px) {
    .listing_info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .listing_info:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 480px) {
    .listing_info {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.mi_buttons {
  margin-left: 34.11922%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.96686%;
  margin-top: 35px; }
  .mi_buttons:last-child {
    margin-right: 0; }
  .mi_buttons a {
    text-align: center;
    display: block;
    width: 100%;
    color: #31251b;
    font-weight: 600;
    margin: 10px 0; }
  @media only screen and (max-width: 768px) {
    .mi_buttons {
      margin-left: 17.05961%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .mi_buttons:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 480px) {
    .mi_buttons {
      margin-top: 30px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.under_construction {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  margin-top: 5px; }

.comm_buckets:after {
  content: "";
  display: table;
  clear: both; }
.comm_buckets .comm_bucket {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 50%;
  float: left;
  margin: 0;
  height: 500px;
  text-align: center; }
  .comm_buckets .comm_bucket .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #914922;
    opacity: 0.1;
    transition: all 300ms ease;
    z-index: 15px; }
  .comm_buckets .comm_bucket .comm_bucket_info {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20; }
  .comm_buckets .comm_bucket h3 {
    color: white; }
  .comm_buckets .comm_bucket h3.location {
    position: absolute;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    transition: all 300ms ease; }
  .comm_buckets .comm_bucket a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20; }
  .comm_buckets .comm_bucket .hover_content {
    position: absolute;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 40%;
    opacity: 0;
    transition: all 300ms ease; }
    .comm_buckets .comm_bucket .hover_content img {
      width: 80px;
      height: 80px; }
  .comm_buckets .comm_bucket:hover .overlay {
    opacity: 0.75; }
  .comm_buckets .comm_bucket:hover .hover_content {
    opacity: 1; }
  .comm_buckets .comm_bucket:hover h3.location {
    opacity: 0; }
  @media only screen and (max-width: 768px) {
    .comm_buckets .comm_bucket {
      height: 400px; } }
  @media only screen and (max-width: 480px) {
    .comm_buckets .comm_bucket {
      width: 100%;
      height: 300px; } }

.page-template-page-city-community-php header {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .page-template-page-city-community-php header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 9998;
    position: absolute;
    width: 100%; }
    .page-template-page-city-community-php header .container h2 {
      color: white;
      font: 45px "Brandon Printed One", sans-serif;
      line-height: 55px; }
  @media only screen and (max-width: 480px) {
    .page-template-page-city-community-php header .container h2 {
      font-size: 30px;
      line-height: 40px; } }

.comm_intro {
  text-align: center;
  max-width: 800px;
  margin: auto; }
  .comm_intro h2 {
    font: 60px "Jenna Sue", sans-serif;
    line-height: 70px;
    color: #31251b; }

.comm_footer {
  position: relative;
  overflow: hidden;
  color: white; }
  .comm_footer .overlay {
    display: none; }
  .comm_footer .comm_footer_bg {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    width: 120%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 15; }
    .comm_footer .comm_footer_bg img {
      -webkit-filter: blur(7px) brightness(0.75);
      -moz-filter: blur(7px) brightness(1);
      -o-filter: blur(7px) brightness(0.75);
      -ms-filter: blur(7px) brightness(0.75);
      filter: blur(7px) brightness(0.75);
      position: relative;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  .comm_footer .container {
    position: relative;
    z-index: 20; }
  .comm_footer .comm_footer_desc {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .comm_footer .comm_footer_desc h3 {
      color: #efe8d7; }
    .comm_footer .comm_footer_desc hr {
      background: #efe8d7;
      margin-left: 0; }
    .comm_footer .comm_footer_desc:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 768px) {
      .comm_footer .comm_footer_desc {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5%; } }
  .comm_footer .comm_footer_list {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .comm_footer .comm_footer_list:last-child {
      margin-right: 0; }
    .comm_footer .comm_footer_list li {
      position: relative;
      padding-left: 50px;
      margin-bottom: 35px; }
      .comm_footer .comm_footer_list li:before {
        position: absolute;
        top: -3px;
        left: 0;
        content: "";
        width: 35px;
        height: 35px;
        background: url(../images/logo_white.svg) no-repeat center center; }
    @media only screen and (max-width: 768px) {
      .comm_footer .comm_footer_list {
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
        margin-right: 0; }
        .comm_footer .comm_footer_list li {
          float: left;
          width: 45%; }
          .comm_footer .comm_footer_list li:nth-child(2n+1) {
            clear: both; } }
    @media only screen and (max-width: 480px) {
      .comm_footer .comm_footer_list li {
        float: none;
        width: 100%; }
        .comm_footer .comm_footer_list li:nth-child(2n+1) {
          clear: none; } }

.single-community .row {
  margin: 0;
  padding: 0;
  display: table;
  border-bottom: 0; }
  .single-community .row:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 768px) {
    .single-community .row {
      display: block; } }
  .single-community .row .grid-6 {
    float: none;
    width: 50%;
    display: table-cell;
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: middle; }
    @media only screen and (max-width: 768px) {
      .single-community .row .grid-6 {
        display: block;
        width: 100%; } }
  .single-community .row .sing_comm_desc {
    padding: 60px;
    color: #efe8d7; }
    @media only screen and (max-width: 768px) {
      .single-community .row .sing_comm_desc {
        padding: 30px 2.5% 40px 2.5%; } }
  .single-community .row hr {
    margin-left: 0;
    background: #914922; }
  .single-community .row .sing_comm_featured_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 768px) {
      .single-community .row .sing_comm_featured_image {
        height: 300px; } }
  .single-community .row .sing_comm_buttons {
    text-align: center;
    display: inline-block;
    margin-top: 30px; }
    .single-community .row .sing_comm_buttons li {
      float: left;
      margin-right: 15px;
      margin-bottom: 30px; }
      .single-community .row .sing_comm_buttons li a {
        font-weight: 600; }
      .single-community .row .sing_comm_buttons li:last-child {
        margin-right: 0;
        margin-bottom: 0; }
      .single-community .row .sing_comm_buttons li .information_packet {
        position: relative;
        padding-left: 35px;
        color: white;
        font-size: 18px; }
        .single-community .row .sing_comm_buttons li .information_packet img {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 25px;
          height: 25px; }
        .single-community .row .sing_comm_buttons li .information_packet:hover {
          text-decoration: underline; }
  .single-community .row .sing_comm_plot_layout,
  .single-community .row .sing_comm_extras {
    padding: 70px 0; }
    @media only screen and (max-width: 768px) {
      .single-community .row .sing_comm_plot_layout,
      .single-community .row .sing_comm_extras {
        padding: 0; } }
  .single-community .row .sing_comm_map {
    padding: 60px; }
    .single-community .row .sing_comm_map .map_canvas {
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position: center center; }
      @media only screen and (max-width: 1024px) {
        .single-community .row .sing_comm_map .map_canvas {
          height: 260px; } }
      @media only screen and (max-width: 480px) {
        .single-community .row .sing_comm_map .map_canvas {
          height: 200px; } }
      .single-community .row .sing_comm_map .map_canvas a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 30; }
        .single-community .row .sing_comm_map .map_canvas a:hover {
          cursor: pointer !important; }
      .single-community .row .sing_comm_map .map_canvas .container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        text-align: center;
        z-index: 50;
        width: 100%;
        text-transform: uppercase; }
        .single-community .row .sing_comm_map .map_canvas .container h4 {
          font-weight: 600; }
        .single-community .row .sing_comm_map .map_canvas .container h5 {
          color: #31251b; }
        .single-community .row .sing_comm_map .map_canvas .container img {
          width: 100%;
          height: 40px; }
      .single-community .row .sing_comm_map .map_canvas img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        display: block;
        margin: auto; }
    @media only screen and (max-width: 768px) {
      .single-community .row .sing_comm_map {
        padding: 30px 2.5%;
        width: 100%; } }
  .single-community .row .sing_comm_highlights {
    width: 100%;
    color: #818181; }
    @media only screen and (max-width: 768px) {
      .single-community .row .sing_comm_highlights {
        padding: 0 2.5%;
        width: 100%; } }
  .single-community .row .sing_comm_images {
    margin-top: 50px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .single-community .row .sing_comm_images:last-child {
      margin-right: 0; }
    .single-community .row .sing_comm_images li {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 48.41578%; }
      .single-community .row .sing_comm_images li:last-child {
        margin-right: 0; }
      .single-community .row .sing_comm_images li img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0; }
    @media only screen and (max-width: 768px) {
      .single-community .row .sing_comm_images {
        padding: 0 2.5% 80px 2.5%;
        width: 100%; } }
.single-community:nth-child(1n) .dwood {
  background-position: center center; }
.single-community:nth-child(2n) .dwood {
  background-position: right top; }
.single-community:nth-child(3n) .dwood {
  background-position: left bottom; }
.single-community:nth-child(4n) .dwood {
  background-position: right bottom; }

.sing_comm_mi_buckets h3 {
  text-align: left; }
.sing_comm_mi_buckets hr {
  margin-left: 0; }
.sing_comm_mi_buckets ul {
  margin-top: 20px; }
  .sing_comm_mi_buckets ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .sing_comm_mi_buckets ul li:last-child {
      margin-right: 0; }
    .sing_comm_mi_buckets ul li a {
      color: #31251b; }
      .sing_comm_mi_buckets ul li a .mi_bucket_image {
        margin-bottom: 10px; }
        .sing_comm_mi_buckets ul li a .mi_bucket_image img {
          display: block;
          width: 100%;
          height: auto; }
      .sing_comm_mi_buckets ul li a .mi_floorplan {
        font: 18px "Brandon Printed One", sans-serif;
        text-transform: uppercase;
        width: 60%;
        float: left; }
      .sing_comm_mi_buckets ul li a .mi_price {
        font: 18px "Brandon Printed One", sans-serif;
        text-transform: uppercase;
        width: 40%;
        color: #914922;
        text-align: right;
        float: right; }
    @media only screen and (max-width: 760px) {
      .sing_comm_mi_buckets ul li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .sing_comm_mi_buckets ul li:last-child {
          margin-right: 0; } }
    @media only screen and (max-width: 480px) {
      .sing_comm_mi_buckets ul li {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px; } }

.page-id-13 header {
  background: url(../images/about_header.jpg) no-repeat center bottom;
  background-size: cover; }
  .page-id-13 header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    max-width: 850px;
    color: white; }
    .page-id-13 header .container h2 {
      font: 60px "Caecilia", sans-serif;
      line-height: 70px;
      font-weight: 300;
      font-style: italic; }
    .page-id-13 header .container p {
      font-size: 20px;
      line-height: 30px;
      max-width: 700px;
      margin: 0 auto;
      font-style: italic; }
.page-id-13 p {
  margin-bottom: 25px; }
.page-id-13 hr {
  background: #31251b;
  margin-left: 0; }
@media only screen and (max-width: 480px) {
  .page-id-13 header .container h2 {
    font: 35px "Caecilia", sans-serif;
    line-height: 45px;
    font-weight: 300;
    font-style: italic; }
  .page-id-13 header .container p {
    font-size: 16px;
    line-height: 21px; } }

.testimonial_wrapper {
  width: 80%;
  margin: 60px auto;
  text-align: center;
  font-family: "Caecilia", sans-serif; }
  .testimonial_wrapper hr {
    margin-left: auto; }
  .testimonial_wrapper .testimonial_bg {
    width: 67px;
    height: 50px; }
  .testimonial_wrapper .slider {
    margin-top: 40px; }
  .testimonial_wrapper li p {
    font-size: 30px;
    line-height: 40px;
    color: #31251b; }
  .testimonial_wrapper li h4 {
    font-size: 24px;
    line-height: 34px; }
  @media only screen and (max-width: 480px) {
    .testimonial_wrapper {
      width: 90%; }
      .testimonial_wrapper li p {
        font-size: 25px;
        line-height: 35px;
        color: #31251b; }
      .testimonial_wrapper li h4 {
        font-size: 18px;
        line-height: 24px; } }

.our_founders_wrapper:after {
  content: "";
  display: table;
  clear: both; }
.our_founders_wrapper .founders_image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 20px; }
  .our_founders_wrapper .founders_image:last-child {
    margin-right: 0; }
  .our_founders_wrapper .founders_image img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto; }
.our_founders_wrapper .our_founders {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .our_founders_wrapper .our_founders:last-child {
    margin-right: 0; }
@media only screen and (max-width: 480px) {
  .our_founders_wrapper .founders_image,
  .our_founders_wrapper .our_founders {
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }

.todds_book {
  background: url(../images/todds_book_bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  padding: 160px 0; }
  .todds_book .book_description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 61.61588%;
    color: #efe8d7;
    font-size: 18px;
    line-height: 28px; }
    .todds_book .book_description:last-child {
      margin-right: 0; }
    .todds_book .book_description h2 {
      font: 45px "Caecilia", sans-serif;
      line-height: 55px;
      font-weight: 300;
      font-style: italic;
      color: #efe8d7; }
  .todds_book .book_image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 0; }
    .todds_book .book_image:last-child {
      margin-right: 0; }
    .todds_book .book_image img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto; }
  @media only screen and (max-width: 768px) {
    .todds_book {
      padding: 80px 0; } }
  @media only screen and (max-width: 480px) {
    .todds_book .book_description {
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .todds_book .book_image {
      margin-top: 60px;
      width: 85%;
      float: none;
      position: relative;
      right: -15%;
      text-align: right;
      top: 0 !important;
      -webkit-transform: translateY(0%) !important;
      -ms-transform: translateY(0%) !important;
      transform: translateY(0%) !important; } }

.faq {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  margin-bottom: 15px; }
  .faq .question {
    color: #31251b;
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    display: inline-block; }
    .faq .question:before {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      content: url(../images/faq_plus.svg);
      display: block;
      width: 20px;
      height: 20px; }
    .faq .question:hover {
      cursor: pointer; }
  .faq .answer {
    padding: 15px 30px 10px 30px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    display: block;
    clear: both;
    float: left; }
    .faq .answer p {
      margin-bottom: 0; }
  .faq:nth-child(even) {
    margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .faq {
      width: 100%;
      margin-right: 0; } }

#map {
  width: 100%;
  height: 570px; }
  @media only screen and (max-width: 480px) {
    #map {
      height: 325px; } }

.social li {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 5px; }
  .social li a {
    opacity: 0.7;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 300ms ease; }
  .social li a:hover {
    opacity: 1; }
  .social li:last-child {
    margin-right: 0; }
  .social li img {
    backface-visibility: hidden;
    display: block;
    width: 20px;
    height: 20px; }

.contact_info_wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%; }
  .contact_info_wrapper:last-child {
    margin-right: 0; }
  .contact_info_wrapper hr {
    margin-left: 0;
    background: #914922; }
  .contact_info_wrapper .contact_section {
    margin: 25px 0; }
    .contact_info_wrapper .contact_section h5 {
      font-size: 18px;
      font-weight: 600; }
    .contact_info_wrapper .contact_section a {
      color: inherit; }
    .contact_info_wrapper .contact_section .social {
      margin-top: 40px; }
      .contact_info_wrapper .contact_section .social img {
        -webkit-filter: grayscale(100%) brightness(0.2);
        -moz-filter: grayscale(100%) brightness(0.2);
        -ms-filter: grayscale(100%) brightness(0.2);
        -o-filter: grayscale(100%) brightness(0.2);
        filter: grayscale(100%) brightness(0.2);
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/><feComponentTransfer><feFuncR type='linear' slope='0.2'/><feFuncG type='linear' slope='0.2'/><feFuncB type='linear' slope='0.2'/></feComponentTransfer></filter></svg>#grayscale");
        /* Firefox 10+, Firefox on Android */ }
  @media only screen and (max-width: 480px) {
    .contact_info_wrapper {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px; } }

.contact_form_wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 53.08608%; }
  .contact_form_wrapper:last-child {
    margin-right: 0; }
  .contact_form_wrapper .grid-6 {
    width: 49.5%;
    margin-right: 1%;
    margin-bottom: 1%; }
    .contact_form_wrapper .grid-6.omega {
      margin-right: 0; }
  .contact_form_wrapper .grid-12 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1%; }
  .contact_form_wrapper .field_group {
    height: 49px;
    overflow: hidden; }
  @media only screen and (max-width: 480px) {
    .contact_form_wrapper {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

input, textarea {
  font-family: "Brandon Text", sans-serif;
  font-size: inherit;
  background-color: #efefef;
  color: #31251b;
  width: 100%;
  padding: 15px;
  outline: none;
  border: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0; }

input[type="submit"]:hover {
  cursor: pointer; }

select {
  color: #9a9a9a;
  padding: 15px;
  font-family: "Brandon Text", sans-serif;
  font-size: inherit;
  border-radius: 0;
  width: 100%;
  height: 49px;
  overflow: hidden;
  background-color: #efefef;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none; }
  select#cursus {
    height: auto;
    overflow: visible; }

textarea {
  overflow: auto;
  resize: none;
  display: block; }

.form_submit {
  clear: both;
  max-width: 150px;
  margin-top: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0; }

.wpcf7-submit:hover {
  cursor: pointer; }

.ajax-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px; }

.wpcf7 .watermark {
  color: #9a9a9a !important; }

::-webkit-input-placeholder {
  color: #9a9a9a !important; }

::-moz-placeholder {
  color: #9a9a9a !important; }

.screen-reader-response {
  display: none; }

.wpcf7-response-output {
  margin-top: 30px;
  color: white;
  border: 0 !important; }

#popup .wpcf7-response-output, #form_popup .wpcf7-response-output, #mc_popup .wpcf7-response-output {
  text-align: center;
  margin: 10px 0 0 0;
  width: 100%; }

.page-template-page-contact-php .wpcf7-response-output {
  color: #818181;
  text-align: center; }

footer {
  background: url(../images/footer_bg.jpg) repeat center top;
  padding: 70px 0 0 0;
  color: #efe8d7;
  font-weight: 300; }
  footer a {
    color: inherit; }
  footer h4 {
    font: 18px "Brandon Printed One", sans-serif;
    border-bottom: 1px solid #555555;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  footer .upper_footer {
    margin-bottom: 40px; }
    footer .upper_footer:after {
      content: "";
      display: table;
      clear: both; }
  footer .lower_footer {
    border-top: 1px solid #555555;
    padding: 30px 0 10px 0; }
    footer .lower_footer:after {
      content: "";
      display: table;
      clear: both; }
    footer .lower_footer .copyright, footer .lower_footer .credentials {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      footer .lower_footer .copyright:last-child, footer .lower_footer .credentials:last-child {
        margin-right: 0; }
    footer .lower_footer .credentials {
      text-align: right; }
    footer .lower_footer .footer_logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      text-align: center; }
      footer .lower_footer .footer_logo:last-child {
        margin-right: 0; }
      footer .lower_footer .footer_logo img {
        width: 30px;
        height: 30px; }
  footer .footer_section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%; }
    footer .footer_section:last-child {
      margin-right: 0; }
  footer .footer_badge {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 27.49666%;
    text-align: right; }
    footer .footer_badge:last-child {
      margin-right: 0; }
    footer .footer_badge img {
      float: right;
      max-width: 250px;
      height: auto; }
  footer .footer_contact p {
    margin-bottom: 0; }
  footer #mc_embed_signup {
    margin-top: 35px; }
    footer #mc_embed_signup .email {
      color: #efe8d7;
      font-weight: 300;
      background: rgba(255, 255, 255, 0.25);
      padding: 10px; }
  @media only screen and (max-width: 480px) {
    footer .footer_section,
    footer .footer_badge {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 30px; }
    footer .footer_badge {
      text-align: center;
      margin-bottom: 0; }
      footer .footer_badge img {
        margin: 0 auto;
        float: none;
        max-width: 70%;
        height: auto; } }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #31251b;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.9;
  display: none; }

.lb-outerContainer {
  position: relative;
  background-color: #746a64;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

@media print {
  * {
    padding: 0;
    margin: 0; }

  body {
    color: #31251b !important;
    background: #fff;
    font-size: 13px !important;
    font-style: normal !important; }

  h3 {
    font: 16px "Brandon Printed One", sans-serif;
    line-height: 25px;
    color: #31251b; }

  .section {
    padding: 0; }

  .small_section {
    padding: 0; }

  nav,
  footer,
  .floorplan_buttons,
  hr {
    display: none !important; }

  header {
    min-height: 0 !important;
    height: 250px !important;
    margin: 0;
    padding: 0; }
    header .fp_post_nav {
      display: none; }
    header img {
      max-width: 100% !important;
      max-height: 100% !important;
      height: auto !important;
      width: auto !important; }

  img {
    max-width: 100% !important;
    height: auto !important; }

  .details {
    margin-bottom: 20px;
    display: inline-block;
    z-index: 50;
    position: relative; }
    .details li {
      display: inline-block;
      *display: inline;
      /*IE7*/
      *zoom: 1;
      /*IE7*/
      border-right: 1px solid rgba(49, 37, 27, 0.3);
      color: #31251b;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px !important;
      line-height: 18px;
      padding: 0 10px !important;
      text-align: center;
      margin-bottom: 10px; }
      .details li:last-child {
        border-right: 0; }

  .floorplan_images_wrapper .floorplan_images {
    margin-top: 0; }

  .floorplan_images {
    margin-top: 30px; }
    .floorplan_images li {
      page-break-after: always;
      width: 100% !important;
      height: auto !important;
      max-height: 400px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px; }
      .floorplan_images li:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
        /* Adjusts for spacing */ }
      .floorplan_images li:nth-child(even) {
        margin-left: 0%; }
      .floorplan_images li:nth-child(2n+1) {
        clear: both; }
      .floorplan_images li img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto; }

  .features_wrapper {
    padding-top: 40px;
    page-break-before: always;
    width: 100% !important; }
    .features_wrapper h3 {
      color: #31251b; }
    .features_wrapper .features {
      width: 50%;
      color: #31251b;
      font-style: normal; }
      .features_wrapper .features li {
        line-height: 23px;
        margin-left: 20px;
        list-style: disc; }

  .floorplan_featured_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    z-index: 5; }
    .floorplan_featured_image img {
      max-width: none;
      width: auto;
      height: 100%; }

  .floorplan_featured_image {
    width: 100%;
    height: 250px; }
    .floorplan_featured_image img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -30%;
      height: 100% !important;
      width: auto !important;
      z-index: 5; }

  .secondary_images {
    display: none; }

  .bx-wrapper {
    display: none; } }
@-moz-document url-prefix() {
  .row {
    clear: both; }

  .comm_footer .overlay {
    display: block;
    z-index: 16;
    opacity: 0.75; } }
