@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-light-webfont.eot');
    src: url('../fonts/brandontext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-light-webfont.woff') format('woff'),
         url('../fonts/brandontext-light-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-light-webfont.svg#brandon_textlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-lightitalic-webfont.eot');
    src: url('../fonts/brandontext-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-lightitalic-webfont.woff') format('woff'),
         url('../fonts/brandontext-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-lightitalic-webfont.svg#brandon_textlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-regular-webfont.eot');
    src: url('../fonts/brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-regular-webfont.woff') format('woff'),
         url('../fonts/brandontext-regular-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-regularitalic-webfont.eot');
    src: url('../fonts/brandontext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-regularitalic-webfont.woff') format('woff'),
         url('../fonts/brandontext-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-regularitalic-webfont.svg#brandon_textregular_italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-medium-webfont.eot');
    src: url('../fonts/brandontext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-medium-webfont.woff') format('woff'),
         url('../fonts/brandontext-medium-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-medium-webfont.svg#brandon_textmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-bold-webfont.eot');
    src: url('../fonts/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-bold-webfont.woff') format('woff'),
         url('../fonts/brandontext-bold-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-bold-webfont.svg#brandon_textbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Printed Two';
    src: url('../fonts/brandon_printed_two-webfont.eot');
    src: url('../fonts/brandon_printed_two-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_printed_two-webfont.woff') format('woff'),
         url('../fonts/brandon_printed_two-webfont.ttf') format('truetype'),
         url('../fonts/brandon_printed_two-webfont.svg#brandon_printedtwo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Printed One';
    src: url('../fonts/brandon_printed_one-webfont.eot');
    src: url('../fonts/brandon_printed_one-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_printed_one-webfont.woff') format('woff'),
         url('../fonts/brandon_printed_one-webfont.ttf') format('truetype'),
         url('../fonts/brandon_printed_one-webfont.svg#brandon_printedone') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jenna Sue';
    src: url('../fonts/jennasue-webfont.eot');
    src: url('../fonts/jennasue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jennasue-webfont.woff') format('woff'),
         url('../fonts/jennasue-webfont.ttf') format('truetype'),
         url('../fonts/jennasue-webfont.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Caecilia';
	src: url('../fonts/CaeciliaLTStd-Italic.eot');
	src: local('☺'), url('../fonts/CaeciliaLTStd-Italic.woff') format('woff'), url('../fonts/CaeciliaLTStd-Italic.ttf') format('truetype'), url('../fonts/CaeciliaLTStd-Italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Caecilia';
	src: url('../fonts/CaeciliaLTStd-LightItalic.eot');
	src: local('☺'), url('../fonts/CaeciliaLTStd-LightItalic.woff') format('woff'), url('../fonts/CaeciliaLTStd-LightItalic.ttf') format('truetype'), url('../fonts/CaeciliaLTStd-LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Caecilia';
	src: url('../fonts/CaeciliaLTStd-Light.eot');
	src: local('☺'), url('../fonts/CaeciliaLTStd-Light.woff') format('woff'), url('../fonts/CaeciliaLTStd-Light.ttf') format('truetype'), url('../fonts/CaeciliaLTStd-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}