@media print {

* {
	padding: 0;
	margin: 0;
}

body {
	color: $darkbrown !important;
	background: #fff;
	font-size: 13px !important;
	font-style: normal !important;
}

h3 {
	font: 16px $printed1; 
	line-height: 25px;
	color: $darkbrown;
}

.section {
	padding: 0;
}

.small_section {
	padding: 0;
}

nav,
header,
footer,
.floorplan_buttons,
hr {
	display:none !important;
}

img {
   max-width: 100% !important;
   height: auto !important;
}

.details {
	margin-top: 380px !important;
	margin-bottom: 20px;
	display: inline-block;
	li {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
		border-right: 1px solid rgba(49,37,27,0.3);
		color: $darkbrown;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 10px !important;
		line-height: 18px;
		padding: 0 10px !important;
		text-align: center;
		margin-bottom: 10px;
		&:last-child {
			border-right: 0;
		}
	}
		
}

.floorplan_images_wrapper .floorplan_images {
	margin-top: 0;
}

.floorplan_featured_image {
	position: absolute; 
	top: 0;
	left: 0;
	max-height: 400px;
	img {
		height: 100%;
		width: auto;
	}
}

.features_wrapper {
	margin-top: 40px;
	page-break-before: avoid;
	h3 {
		color: $darkbrown;
	}
	.features {
		width: 50%;
		color: $darkbrown;
		font-style: normal;
		li {
			line-height: 23px;
			margin-left: 20px;
			list-style: disc;
		}
	}
}

.secondary_images {
	margin-top: 40px;
	margin-bottom: 40px;
	@include shift(0);
	@include span-columns(12);
	li {
		@include span-columns(4 of 12);
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

}