$mobile: "only screen and (max-width : 480px)";
$tablet-1: "only screen and (max-width : 767px)";
$tablet: "only screen and (max-width : 768px)";
$tablet-large: "only screen and (max-width : 1000px)";


@media #{$tablet-large} { 
	font-size: 38px;
	line-height: 48px;
}

@media #{$tablet} { 
	font-size: 38px;
	line-height: 48px;
}

@media #{$mobile} { 
	font-size: 38px;
	line-height: 48px;
}