// Variables
$brandon: "Brandon Text",sans-serif; 
$printed1: "Brandon Printed One",sans-serif; 
$printed2: "Brandon Printed Two",sans-serif; 
$caecilia: "Caecilia",sans-serif;
$jenna: "Jenna Sue",sans-serif;

$gray: #818181;
$white: #ffffff;
$yellowwhite: #efe8d7;
$lightbrown: #914922;
$darkbrown: #31251b;
$gold: #c69c6d;
$copper: #914922;
