/* style.scss */

@import 'reset';
@import 'fonts';
@import 'bourbon', 'neat';
@import 'grid-settings';
@import 'slider';
@import 'bxslider';
@import 'lightbox';

// Variables
$brandon: "Brandon Text",sans-serif; 
$printed: "Brandon Printed One",sans-serif;
$caecilia: "Caecilia",sans-serif;
$jenna: "Jenna Sue",sans-serif;

$gray: #818181;
$white: #ffffff;
$yellowwhite: #efe8d7;
$lightbrown: #914922;
$darkbrown: #31251b;
$gold: #c69c6d;
$copper: #914922;

$mobile: "only screen and (max-width : 480px)";
$tablet-1: "only screen and (max-width : 760px)";
$tablet: "only screen and (max-width : 768px)";
$tablet-large: "only screen and (max-width : 1024px)";


// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@mixin button {
	padding: 7px 17px;
	border: 1px solid transparent;
}

@mixin button-gold-solid {
	@include button;
	color: $white;
	background: $gold;
	transition: all 300ms ease;
	&:hover {
		background: #a98257;
		border: 1px solid $gold;
		color: #fff;
	}
}

@mixin button-brown-solid {
	@include button;
	color: $white;
	background: $darkbrown;
	transition: all 300ms ease;
	&:hover {
		background: #3b2f25;
		border: 1px solid $darkbrown;
		color: #fff;
	}
}

@mixin button-gold-stroked {
	@include button;
	border: 1px solid $gold;
	color: $white;
	background: none;
	transition: all 300ms ease;
	&:hover {
		background: #a98257;
		border: 1px solid $gold;
		color: #fff;
	}
}

.button-gold-solid {
	@include button-gold-solid;
}

.button-brown-solid {
	@include button-brown-solid;
}
.button-gold-stroked {
	@include button-gold-stroked;
}

* {
	@include box-sizing;
}


// Global Elements
h1 {
	font: 100px $jenna;
	line-height: 110px;
	@media #{$mobile} {
		font: 80px $jenna;
		line-height: 90px;
	}
}

h2 { 
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 10px;
}

h3 {
	font: 24px $printed; 
	line-height: 34px;
	color: $darkbrown;
}

h4 {
	font-size: 24px;
	line-height: 34px;
}

hr {
    border: 0;
    height: 1px;
	max-width: 50px;
	margin: 10px auto 15px auto;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
	color: $copper;
	text-decoration: none;
}


// Base Layout
html {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font: 15px $brandon;
	color: $gray;
	background-color: #fff;
	font-weight: 400;
	line-height: 26px;
	height: 100%;
}

#page_container {
	position: relative;
	right: 0;
	top: 0;	
	transition: all 300ms;
}

.container {
	@include outer-container;
	width: 95%;
}

.section {
	padding: 100px 0;
	@media #{$mobile} {
		padding: 70px 0;
	}
}

.small_section {
	padding: 40px 0;
}

.intro {
	width: 95%;
	max-width: 630px;
	margin: 0 auto;
	h2 {
		margin-bottom: 40px;
	}
}

.gray {
	background-color: #efefef;
}

.lwood {
	background: url(../images/light_wood.jpg) repeat center top;
	h3 {
		text-align: center;
		margin-bottom: 10px;
	}
	hr {
    	background: $lightbrown;
	}
}

.dwood {
	background: url(../images/dark_wood.jpg) repeat center top;
	h3 {
		color: $white;
	}
	hr {
    	background: $lightbrown;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: $darkbrown;
	opacity: 0.50;
}

.aligncenter { text-align: center; }
.alignleft { text-align: left; }
.alignright { text-align: right; }

.grid-6 {
	@include span-columns(6);
}

.grid-12 {
	@include span-columns(12);
}



// Header Styles
.video_container {
	position: relative; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
#video_bg {
	position: relative; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	@media #{$tablet-large} {
		display: none;
	}
}

body.home header {
	position: relative;
	.overlay {
		opacity: 0.35;
	}
	.container {
		@include vertical-align;
		@include horizontal-align;
		left: 50%;
		z-index: 9998;
		position: absolute;
		width: 100%;
		top: 45%;
		h1 {
			padding-left: 20px;
			font-size: 130px;
			line-height: 140px;
			color: $yellowwhite;
			@media #{$mobile} {
				font-size: 60px;
				line-height: 70px;
			}
			sup { 
				font-size: .4em;
				vertical-align: super;
			}
		}
	}
}

header {
	overflow: hidden;
	position: relative;
	min-height: 430px;
	@media #{$mobile} {
		min-height: 350px;
	}
}

header.lwood {
	padding: 200px 0 130px 0;
	.container {
		color: $darkbrown;
		h1 {
			letter-spacing: 3px;
		}
		p {
			max-width: 60%;
			font-style: italic;
			font-size: 18px;
			line-height: 28px;
		}
	}
	@media #{$mobile} {
		padding: 120px 0 60px 0;
		.container p {
			max-width: 90%;
		}
	}
}

.scroll_down {
	display: inline-block;
	@include horizontal-align;
	bottom: 20px;
	position: absolute;
	z-index: 25;
	color: $yellowwhite;
	opacity: 0.5;
	&:after {
		@include horizontal-align;
		content: url(../images/down_arrow.svg);
		display: block;
		width: 20px;
		height: 20px;
		left: 50%;
		z-index: 25;
	}
}

// Navigation 
.header_toggle {
	display: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	position: absolute;
	right: 5%;
	top: 17px;
	font-weight: 300;
	font-size: 20px;
	width: 22px;
	height: 12px;
	@media #{$tablet-large} {
		display: block;
	}
}

.header_toggle:hover {
	cursor: pointer;
}

#mobile_nav {
	position: fixed;
	top: 12.5%;
	bottom: 12.5%;
	left: 10%;
	right: 10%;
	z-index: 10000;
	display: none;
	.overlay_bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $darkbrown;
		opacity: 0.9;
		&:hover {
			cursor: pointer;
		}
	}
	.container {
		background: url(../images/dark_wood.jpg) repeat center right;
		position: relative;
		padding: 4px;
		width: 90%;
		.close_popup {
			position: absolute;
			z-index: 10001;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			top: -40px;
			right: 0;
			font-size: 50px;
		}
		.navigation {
			background-color: #746a64;
			display: block;
			height: 100%;
			li {
				text-align: center;
				border-bottom: 1px solid #6d635d;
			}
			a {
				padding: 10px 0;
				display: block;
				height: 100%;
				width: 100%;
				color: $yellowwhite;
			}
			.button-gold-solid {
				padding: 10px 0;
			}
		}
	}
}

nav {
	transition: all 250ms ease;
	background: url(../images/nav_bg.png) repeat-x center bottom;
	padding: 20px 0;
	right: 0;
	.logo {
		display: inline-block;
		width: 190px;
		height: 60px;
		margin: 0 0 0 3%;
		img {
			transition: all 300ms ease;
			width: 190px;
			height: 60px;
		}
	}
	.navigation {
		transition: all 300ms ease;
		@include span-columns (8.5);
		float: right;
		text-align: right;
		margin-right: 3% !important;
		padding: 20px 0;
		li {
			text-align: right;
			display: inline-block;
			margin-left: 3%;
		}
		a {
			color: $yellowwhite;
			font-size: 14px;
			font-weight: 400;
			opacity: 0.8;
			transition: all 300ms ease;
			&:hover {
				opacity: 1; 
			}
		}
		.pj_button {
			opacity: 1 !important;
		}
		@media #{$tablet-large} {
			display: none;
		}
	}	
}

nav.small {
	padding: 10px 0;
	.logo {
		width: 150px;
		height: 47px;
		img {
		width: 150px;
		height: 47px;
		}
	}
	.navigation {
		padding: 10px 0;
	}	
	
}

.not_sticky, .sticky {
	width: 100%;
	top: 0;
	left: 0;
}

nav.not_sticky {
	position: absolute;
	z-index: 50;
}

.header_toggle_brown {
	display: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	position: absolute;
	right: 5%;
	top: 17px;
	font-weight: 300;
	font-size: 20px;
	width: 22px;
	height: 12px;
	@media #{$tablet} {
		display: block;
	}
}

.header_toggle_brown:hover {
	cursor: pointer;
}

.secondary_nav_wrapper {
	border: 0;
	box-shadow: none;
	transition: all 200ms ease;
	height: auto;
	&.not_sticky {
		position: relative;
	}
	&.sticky {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	}
}

.sticky {
	position: fixed;
	z-index: 9999;
}


// Home Page Styles 
.hp_buckets {
	margin-top: 60px;
	li {
		@include span_columns(4);
		background-size: cover;
		margin-bottom: 30px;
		.bucket_bg {
			position: relative;
			height: 325px;
			margin-bottom: 20px;
			backface-visibility: hidden;
			a {
				position: absolute;
				z-index: 20;
				display: block;
				height: 100%;
				width: 100%;
				text-indent: -9999px;
			}
			.overlay {
				background: $darkbrown;
				opacity: 0.70;
				transition: opacity 300ms ease;
			}
			.bucket_content {
				@include vertical-align;
				text-align: center;
				font: 20px $caecilia;
				color: $yellowwhite;
				text-transform: uppercase;
				font-weight: 600;
				font-style: italic;
				position: relative;
				z-index: 15;
				hr {
					background: $gold;
				}
			}
			&:hover .overlay {
			   opacity: 0.85;
			}
		}
		.description {
			font-style: italic;
			color: $darkbrown;
			a {
				font-style: normal;
				color: inherit;
				font-weight: 600;
			}
		}
		@media #{$mobile} {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
			.bucket_bg { 
				height: 225px;
				margin-bottom: 5px;
			}
		}
	}
	.floorplans_bucket { background: url(../images/floorplans_bucket_bg.jpg) no-repeat center center; }
	.communities_bucket { background: url(../images/communities_bucket_bg.jpg) no-repeat center center; }
	.movein_bucket { background: url(../images/movein_bucket_bg.jpg) no-repeat center center; }
}

.why_us {
	@include span-columns(5);
	h3 {
		margin-bottom: 10px;
	}
	@media #{$mobile} {
		width: 100%;
		margin-right: 0;
		margin-left: 0;

	}
}
.values {
	@include shift(1);
	@include span-columns(6);
	h3 {
		font-family: $brandon;
		font-weight: 600;
	}
	ul {
		margin-top: 45px;
		li {
			position: relative;
			padding-left: 50px;
			margin-bottom: 35px;
			&:before {
				position: absolute;
			    top: -3px;
			    left: 0;
			    content: "";
			    width: 35px;
			    height: 35px;
				background: url(../images/bullet.svg) no-repeat center center;
			}
		} 
	}
	@media #{$mobile} {
		width: 100%;
		margin-top: 40px;
		margin-right: 0;
		margin-left: 0;
	}
}

.aspen_difference {
	padding: 140px 0;
	background: url(../images/aspen_difference.jpg) no-repeat center bottom;
	background-size: cover;
	.container {
		text-align: center;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		color: #bfbfbf;
		h2 {
			font: 50px $caecilia;
			line-height: 60px;
			font-weight: 300;
			font-style: italic;
			color: $yellowwhite;
		}
		p {
			font-weight: 300;
			margin-bottom: 35px;
			font-size: 18px;
			line-height: 28px;
		}
	}
}

.featured_in {
	padding: 35px 0;
	ul {
		li {
			@include span-columns(2);
			text-align: center;
			line-height: 60px;
			height: 60px;
			&.builder {
				img {
					padding-top: 5px;	
				}
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			img {
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
			@media #{$tablet-large} {
				width: 15%;
				margin-right: 5%;
				margin-left: 5%;
				&:first-child {
					width: 100%;
					margin-right: 0;
					margin-left: 0;
					line-height: 25px;
					height: auto;
					margin-bottom: 15px;
				}
			}
			@media #{$mobile} {
				width: 100% !important;
				margin-left: 0;
				margin-right: 0;
				text-align: center;
				line-height: 24px;
				margin-bottom: 10px;
				height: 40px;
				&.builder {
					img {
						padding-top: 0;	
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
				img {
					max-width: 60%;
					max-height: 100%;
					width: auto;
					height: auto;
				}
			}
		}
	}
}

#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
	.overlay_bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $darkbrown;
		opacity: 0.9;
		&:hover {
			cursor: pointer;
		}
	}
	.container {
		@include vertical-align;
		max-width: 750px;
		margin: 0 auto;
		position: relative;
		background-color: #746a64;
		padding: 4px;
		max-height: 600px;
		overflow: scroll;
		.close_popup {
			position: absolute;
			z-index: 10001;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			top: -40px;
			right: 0;
			font-size: 50px;
		}
	}
	.pj_video {
	    position: relative;
	    padding-bottom: 52%;
	    padding-top: 35px;
	    height: 0;
	    overflow: hidden;
	    iframe {
		    position: absolute;
		    top:0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}
	&.opened {
		display: block;
	}
}
#popup.form {
	.form_header {
		padding: 20px;
		text-align: center;
		p {
			color: $white;
			font-style: italic;
			margin-bottom: 5px;
		}
		#form_title {
			background: none;
			padding: 0;
			text-align: center;
			font-family: $printed;
			font-size: 18px;
			line-height: 28px;
			color: $gold;
		}
	}
	.grid-6 {
		width: 49.5%;
		margin-right: 1%;
		margin-bottom: 1%;
		&.omega {
			margin-right: 0;
		}
	}
	.grid-12 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1%;
	}
	.field_group {
		height: 49px;
		overflow: hidden;
	}
	.form_submit {
		margin: 0;
		width: 100%;
		max-width: none;
	}
}

#form_popup {
	@extend #popup;
	.container {
		max-width: 350px;
		.login {
			background-color: $white;
			padding-top: 20px;
			iframe {
				display: block;
				width: 100%;
				height: 100px;
				body {
					background-color: #746a64 !important;
					height: auto;
					padding: 20px 0;
				}
			}
		}
	}
}

#mc_popup {
	@extend #popup;
	.container {
		max-width: 600px;
	}
	p {
		padding: 10px 0;
		text-align: center;
		color: $white;
		font-style: italic;
	}
	label {
		color: $white;
	}
	.grid-6 {
		width: 49.5%;
		margin-right: 1%;
		margin-bottom: 1%;
		&.omega {
			margin-right: 0;
		}
	}
	.grid-12 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1%;
	}
	.field_group {
		height: 49px;
		overflow: hidden;
	}
	.button-gold-solid {
		width: 100%;
		outline: none;
		margin: 0;
		font: 15px $brandon;
		&:hover {
			cursor: pointer;
		}
	}
}

.row {
	@include clearfix;
	margin: 100px auto 100px auto;
	padding-bottom: 100px;
	border-bottom: 1px solid #e5e5e5;
	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}
	@media #{$mobile} {
		margin: 60px auto 60px;
		padding-bottom: 40px;
	}
}

.row_image {
	@include span-columns(4.5);
	position: relative;
	min-height: 280px;
	text-align: center;
	img {
		width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
	@media #{$mobile} {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
		min-height: 0;
		height: auto;
		img {
			display: block;
			vertical-align: top;
		}
	}
}

.row.right {
	.row_image {
		float: right;
		margin-left: 2.35765%;
		margin-right: 0;
	}
	.row_description {
		margin-right: 2.35765%;
		margin-left: 0;
	}
}

.row_description {
	@include shift(.5);
	@include span-columns(7);
	hr {
		margin-left: 0;
		background: $lightbrown;
	}
	p {
		margin-bottom: 30px;
	}
	a {
		color: $darkbrown;
	}
	@media #{$mobile} {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

.best_of img {
	max-width: 375px;
	height: auto;
}

.hp_news {
	position: relative;
	background: url(../images/hp_news_bg.jpg) no-repeat center bottom;
	background-size: cover;
	h3 {
		color: $yellowwhite;
		text-align: center;
	}
	hr {
		background: $yellowwhite;
	}
	.hp_news_slider {
		margin-top: 60px;
	}
	@media #{$tablet} {
		.slider__arrows {
			display: none;
		}
	}
}

.community_links {
	h3 {
		text-align: center;
	}
	hr {
		background: $gold;
	}
	.cl_section {
		margin-top: 35px;
		@include span-columns(2);
		h5 {
			color: $darkbrown;
			font-weight: 600;
			font-size: 18px;
			margin-bottom: 15px;
		}
		a {
			color: $gold;
			font-size: 14px;
			line-height: 24px;
			text-decoration: none;
			transition: all 300ms ease;
			&:hover {
				color: #a98257;
			}
		}
		@media #{$mobile} {
			width: 50%;
			margin-right: 0;
			margin-top: 15px;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
}

// Post Styles
.entry_sidebar {
	@include span-columns(2);
	.entry_date {
		text-transform: uppercase;
		font-weight: 600;
		color: $copper;
		margin-bottom: 25px;
	}
	@media #{$mobile} {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		.entry_date {
			margin-bottom: 5px;
		}
	}
}
.entry_content_wrapper {
	@include span-columns(9);
	.entry_header {
		h2, h2 a {
			font: 50px $caecilia;
			line-height: 55px;
			font-weight: 300;
			font-style: italic;
			color: $darkbrown;
			margin-bottom: 0;
		}
		.entry_meta {
			text-transform: uppercase;
			line-height: 18px;
			font-weight: 600;
			margin: 0;
			color: $gold;
			a {
				color: $copper;
			}
		}
	}
	.entry_content {
		margin-top: 20px;
		em { font-style: italic; }
		strong { font-weight: bold; }
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 15px auto;
		}
	}
	p {
		margin: 15px 0;
	}
	.entry_button {
		margin-top: 30px;
	}
	@media #{$mobile} {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	ul li {
		list-style: disc;
		margin-left: 30px;
	}
}
.post_navigation {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid #d3d3d3;
	a {
		color: $darkbrown;
	}
	.post_nav_item {
		position: relative;
		&.previous {
			float: left;
			a {
				padding-left: 25px;
			}
			a:before {
				@include vertical-align;
				content: url(../images/left_arrow_gold.svg);
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				left: 0;
			}
		}
		&.next {
			text-align: right;
			float: right;
			a {
				padding-right: 25px;
			}
			a:before {
				@include vertical-align;
				content: url(../images/right_arrow_gold.svg);
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				right: 0;
			}
		}
	}
}

.home .post {
	color: #bfbfbf;
	.entry_sidebar {
		@include span-columns(2);
		.entry_date {
			color: $yellowwhite;
		}
		@media #{$mobile} {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
			.entry_date {
				margin-bottom: 5px;
			}
		}
	}
	.entry_content_wrapper {
		.entry_header {
			h2, h2 a {
				color: $yellowwhite;
			}
			.entry_meta {
				a {
					color: $yellowwhite;
				}
			}
		}
	}
}

.entry_share .ssba {
	a {
		display: block;
		width: 20px;
		height: 20px;
		outline: none;
		border: 0;
		text-decoration: none;
		margin-bottom: 15px;
		img {
			display: none;
		}
	}
	@media #{$mobile} {
		a {
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.entry_share.copper {
	.ssba_facebook_share {
		background: url(../images/facebook_copper.svg);
	}
	.ssba_twitter_share {
		background: url(../images/twitter_copper.svg);
	}
	.ssba_pinterest_share {
		background: url(../images/pinterest_copper.svg);
	}
}

.entry_share {
	.ssba_facebook_share {
		background: url(../images/facebook_yellow.svg);
	}
	.ssba_twitter_share {
		background: url(../images/twitter_yellow.svg);
	}
	.ssba_pinterest_share {
		background: url(../images/pinterest_yellow.svg);
	}
}

// Index Styles
.blog article,
.archive article,
.category article {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 150px 0;
	position: relative;
	color: $yellowwhite;
	border-bottom: 1px solid #37281e;
	.overlay {
		opacity: 0.8;
	}
	.container {
		position: relative;
		z-index: 20;
		.entry_title a {
			color: $yellowwhite;
		}
		.entry_date {
			color: $yellowwhite;
		}
	}
	@media #{$tablet-1} {
		padding: 80px 0;
	}
}

// Single Post Styles
.single-post #main,
.single-gallery #main {
	padding-top: 100px;
	@media #{$mobile} {
		padding-top: 40px;
	}
}


// Gallery Styles
.gallery_navigation {
	display: inline-block;
	padding-bottom: 60px;
	.gallery_nav_item {
		float: left;
		width: 200px;
		font-style: italic;
		border-bottom: 1px solid $darkbrown;
		padding: 5px 0;
		transition: all 200ms ease;
		opacity: 0.4;
		color: $darkbrown;
		&.active {
			opacity: 1;
			border-bottom: 2px solid $darkbrown;
		}
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
	@media #{$mobile} {
		.gallery_nav_item {
			width: auto;
			padding: 5px 20px;
		}
	}
}

.gallery_buckets_wrapper {
	position: relative;
	min-height: 250px;
}

.gallery_buckets {
	@include clearfix;
	position: absolute;
	opacity: 0;
	width: 100%;
	
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
}

.gallery_buckets.active {
	opacity: 1 !important;
	z-index: 100;
}


.gallery_bucket {
	background-position: center center;
	background-size: cover;
	width: 32.333%;
	float: left;
	margin-right: 1.5%; 
	margin-bottom: 1.5%; 
	height: 230px;
	overflow: hidden;
	position: relative;
	opacity: 1;
	transition: all 300ms ease;
	backface-visibility: hidden;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.gallery_title {
		font: 18px $caecilia;
		font-weight: 600;
		font-style: italic;
		color: $yellowwhite;
		background: $darkbrown;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 20;
	}
	&:hover {
		opacity: 0.8;
	}
	&:nth-child(3n){
		margin-right: 0;
	}
	@media #{$tablet} {
		width: 48%;
		&:nth-child(2n){
			margin-right: 0;
		}
		&:nth-child(3n){
			margin-right: 1%;
		}
	}
	@media #{$mobile} {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 20px;
	}
}


// Floor Plan Single Styles
.single-floor_plan header,
.single-move_in_ready header {
	text-align: center;
	background-size: cover;
	background-position: center center;
	.overlay {
		background: $white;
		opacity: 0.70;
	}
	.container {
		@include vertical-align;
		@include horizontal-align;
		left: 50%;
		z-index: 9997;
		position: absolute;
		width: 100%;
		h2 {
			color: $darkbrown;
			font: 45px $printed;
			line-height: 55px;
		}
	}
	@media #{$tablet} {
		min-height: 360px;
		.container {
			h2 {
				width: 80%;
				margin: auto;
			}
		}
	}
	@media #{$mobile} {
		min-height: 270px;
		.container {
			h2 {
				font-size: 30px;
				line-height: 40px;
				margin: auto;
			}
			img {
				top: 35px !important;
				max-height: 40px !important;
			}
		}
	}
}

.fp_post_nav {
	.fp_post_nav_item {
		a {
			background: $darkbrown;
			position: absolute;
			top: 55%;
			padding: 10px 30px;
			transition: all 300ms ease;
			display: block;
			width: 180px;
			z-index: 25;
			color: $gold;
		}
	}
	.previous {
		a {
			left: -150px;
			text-align: right;
			&:hover {
				left: 0;
			}
		}
	}
	.next {
		a {
			right: -150px;
			text-align: left;
			&:hover {
				right: 0;
			}
		}
	}
	@media #{$tablet-large} {
		.fp_post_nav_item {
			a {
				background: $darkbrown;
				position: absolute;
				top: 55%;
				padding: 10px ;
				transition: all 300ms ease;
				display: block;
				width: 45px;
				height: 45px;
				z-index: 9998;
				color: transparent;
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 25px;
					height: 25px;
					margin-left: -12px;
					margin-top: -12px;
					display: block;
				}
			}
		}
		.previous {
			a {
				left: 0;
				text-align: left;
				&:hover {
					left: 0;
				}
				&:before {
					content: url(../images/left_arrow_gold.svg);
				}
			}
		}
		.next {
			a {
				right: 0;
				text-align: left;
				&:hover {
					right: 0;
				}
				&:before {
					content: url(../images/right_arrow_gold.svg);
				}
			}
		}
	}
	@media #{$mobile} {
		.fp_post_nav_item {
			a {
				background: $darkbrown;
				position: absolute;
				top: 55%;
				padding: 10px ;
				transition: all 300ms ease;
				display: block;
				width: 30px;
				height: 30px;
				z-index: 9998;
				color: transparent;
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 15px;
					height: 15px;
					margin-left: -7px;
					margin-top: -10px;
					display: block;
				}
			}
		}
	}
}

.details_wrapper,
.secondary_nav_wrapper {
	padding: 30px 0 20px 0;
    text-align: center;
	h4 {
		font-size: 13px;
		display: none;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		left: 5%;
		top: 13px;
		color: $darkbrown;
		@media #{$tablet} {
			display: block;
		}
	}
    .container {
	    width: 94%;
	    max-width: none;
    }
}

.page-template-page-city-community-php .secondary_nav_wrapper {
	@media #{$tablet} {
		padding: 10px 0 5px 0;
		height: 60px;
		.secondary_nav {
			display: none;
		}
		&.toggled {
			height: auto;
			.secondary_nav {
				margin-top: 40px;
				display: block;
				li {
					width: 100%;
					border-right: 0;
				}
			}
		}
	}
}

.details,
.secondary_nav {
	display: inline-block;
	li {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
		border-right: 1px solid rgba(49,37,27,0.3);
		color: $darkbrown;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 18px;
		padding: 0 15px;
		text-align: center;
		margin-bottom: 10px;
		&:last-child {
			border-right: 0;
		}
		a {
			color: inherit;
			font-size: 12px;
		}
	}
}

.single-move_in_ready {
	.price {
		color: $copper;
		font-size: 18px;
		font-weight: 700;
	}
}

.single-floor_plan {
	header {
		.container {
			top: 55%;
		}
	}
	.sqft {
		color: $copper;
		font-size: 18px;
		font-weight: 700;
	}
}

.single-floor_plan .floorplan_images_wrapper {
	padding-bottom: 0;
}

.floorplan_images_wrapper {
	hr {
		background: $lightbrown;
		margin-left: 0;
	}
	.floorplan_images {
		margin-top: 30px;
		li {
			@include span-columns(5.5);
			height: 300px;
			text-align: center;
			margin-top: 40px;
			margin-bottom: 40px;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}
			&:nth-child(even) {
				@include shift(.5);
			}
			&:nth-child(2n+1) {
				clear: both;
			}
			img {
				display: inline-block;
				vertical-align: middle;
			    max-width:100%;
			    max-height:100%;
			    width:auto;
			    height:auto;
			}
			&:only-of-type {
				@include horizontal-align;
			}
		}
		@media #{$mobile} {
			margin-top: 0;
			li {
				width: 100%;
				margin: 20px 0;
			}
		}
	}
}

.single-floor_plan .features_wrapper {
	margin-top: 100px;
}

.features_wrapper {
	h3 {
		color: $white;
	}
	hr {
		margin-left: 0;
	}
	.features {
		@include span-columns(3.5);
		color: $gold;
		font-style: italic;
		li {
			margin-left: 20px;
			list-style: disc;
		}
		@media #{$mobile} {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.bx-wrapper {
	position: relative;
	margin: 50px auto 60px;
	padding: 0;
	*zoom: 1;
	@include span-columns(7.5);
	float: right;
	right: 20px;
	margin-top: 50px !important;
	@media #{$mobile} {
		width: 85%;
		left: -7%;
		margin-right: auto;
	}
}


 
.images {
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    width: 100%;
	.item {
		list-style: none !important;
		margin: 0 !important;
	}
}
 
.images img {
    display: inline-block;
    margin: 0 !important;
    width: 100%;
    padding: 1px;
}

.available_in {
	color: $darkbrown;
	@include span-columns(4);
	h3 {
		text-align: left;
	}
	hr {
		margin-left: 0;
	}
	li {
		margin-left: 20px;
		list-style: disc;
		font-style: italic;
		a {
			color: inherit;
		}
	}
	@media #{$tablet} {
		@include span-columns(6);
	}
	@media #{$mobile} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.floorplan_buttons {
	@include shift(0);
	@include span-columns(5);
	h3 {
		text-align: left;
		color: $darkbrown;
	}
	hr {
		margin-left: 0;
	}
	a {
		text-align: center;
		display: block;
		width: 100%;
		color: $darkbrown;
		font-weight: 600;
		margin: 10px 0;
		max-width: 220px;
	}
	@media #{$tablet} {
		@include shift(0);
		a {
			max-width: none;
		}
	}
	@media #{$mobile} {
		margin-top: 30px;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.floorplan_featured_image {
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	img {
		max-width: 100%;
		height: auto;
	}
}

// Floor Plan Landing Styles
.floorplan_buckets {
	@include span-columns(8);
	margin-right: 6.6%;
	@media #{$tablet} {
		width: 100%;
		margin-right: 0;
	}
}
.fp_bucket {
	@include clearfix;
	margin-bottom: 20px;
	display: table;
    table-layout: fixed;
    width: 100%;
	@media #{$tablet} {
		width: 100%;
		display: block;
	}
	.fp_bucket_image {
		width: 40%;
		height: 100%;
		display: table-cell;
		border-top: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
		vertical-align: middle;
		text-align: center;
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		a {
			display: block;
			height: 100%;
			width: 100%;
			text-indent: -9999px;
			img {
				opacity: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		@media #{$tablet-1} {
			width: 100%;
			display: block;
			border-top: 1px solid #e7e7e7;
			border-left: 1px solid #e7e7e7;
			border-right: 1px solid #e7e7e7;
			border-bottom: 0;
			height: 270px;
		}
		@media #{$mobile} {
			width: 100%;
			display: block;
			border-top: 1px solid #e7e7e7;
			border-left: 1px solid #e7e7e7;
			border-right: 1px solid #e7e7e7;
			border-bottom: 0;
			height: 200px;
		}
	}
	.fp_bucket_info_wrapper {
		width: 60%;
		display: table-cell;
		color: $yellowwhite;
		padding: 30px;
		position: relative;
		vertical-align: middle;
		@media #{$tablet-1} {
			width: 100%;
			display: block;
			@include clearfix;
		}
		h3 a {
			color: inherit;
		}
		hr {
			margin-left: 0;
		}
		h5 {
			position: absolute;
			top: 30px;
			right: 30px;
			font: 18px $printed;
			color: $gold;
			text-transform: uppercase;
			@media #{$tablet-large} {
				position: relative;
				top: auto;
				right: auto;	
			}
		}
		.fp_bucket_info {
			@include span-columns(3 of 5);
			.sqft {
				margin-bottom: 5px;
				font-size: 18px;
				font-weight: 600;
				text-transform: uppercase;
			}
			li {
				float: left;
				line-height: 18px;
				border-right: 1px solid rgba(198,156,109,0.5);
				padding-right: 10px;
				margin: 5px 10px 5px 0;
				&:nth-child(odd) {
					border-right: 0;
				}
			}
		}
		.fp_bucket_button {
			position: absolute;
			bottom: 30px;
			right: 30px;
		}
	}
	&:nth-child(1n) .dwood {
		background-position: center center;
	}
	&:nth-child(2n) .dwood {
		background-position: right top;
	}
	&:nth-child(3n) .dwood {
		background-position: left bottom;
	}
	&:nth-child(4n) .dwood {
		background-position: right bottom;
	}
}
	// Floor Plan Sidebar Styles
	.fp_filters {
		@include span-columns(3.5);
		float: right;
		margin-bottom: 30px;
		@media #{$tablet} {
			width: 100%;
			margin-right: 0;
		}
		.seachform-floorplan {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 1px solid #e5e5e5;
			.search_input {
				position: relative;
				float: left;
				vertical-align: top;
				width: 75%;
				&:before {
					position: absolute;
				    top: -3px;
				    left: 0;
				    content: "";
				    width: 20px;
				    height: 20px;
					background: url(../images/search.svg) no-repeat center center;
				}
			}
			.button-gold-solid {
				float: left;
				height: 49px;
				width: 25%;
				padding: 5px 10px;
			}
		}
		.filter-floorplan {
			.button-brown-solid {
				width: 100%;
				display: block;
				margin-top: 20px;
				text-align: center;
			}
		}
		&.fixed {
			position: fixed;
			top: 110px;
			right: 4.85765%;
		}
	}

.search_header {
	margin-bottom: 20px;
}


// Move-In Ready Landing Styles
.mi_buckets {
	@include clearfix;
	.mi_bucket {
		width: 100%;
		min-height: 570px;
		overflow: hidden;
		border-bottom: 2px solid #37281e;
		&:last-child {
			border-bottom: 0;
		}
		&:nth-child(1n) .dwood {
			background-position: center center;
		}
		&:nth-child(2n) .dwood {
			background-position: right top;
		}
		&:nth-child(3n) .dwood {
			background-position: left bottom;
		}
		&:nth-child(4n) .dwood {
			background-position: right bottom;
		}
		.mi_bucket_info_wrapper {
			min-height: 570px;
			padding: 30px 50px 50px 30px;
			float: left;
			width: 25%;
			color: $white;
			overflow: auto;
			.mi_bucket_header {
				h3 {
					color: $yellowwhite;
				}
				address {
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
			.mi_bucket_sqft {
				font-weight: 600;
				text-transform: uppercase;
				color: $yellowwhite;
			}
			.mi_bucket_price {
				color: $white;
				margin: 30px 0 20px 0;
			}
			@media #{$tablet} {
				width: 100%;
				min-height: 0;
				height: auto;
			}
		}
		.mi_bucket_image {
			min-height: 570px;
			float: right;
			width: 75%;
			overflow: hidden;
			background-color: $darkbrown;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			a {
				display: block;
				width: 100%;
				min-height: 570px;
				position: relative;
				span {
					display: none;
				}
				.overlay {
					transition: all 200ms ease;
					opacity: 0;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility:    hidden;
					-ms-backface-visibility:     hidden;
				}
				&:hover {
					.overlay {
						opacity: 0.3;
					}
				}
			}
			&.pending,
			&.sold {
				a {
					text-align: center;
					.overlay {
						transition: all 200ms ease;
						opacity: 0.5;
					}
					&:hover {
						.overlay {
							opacity: 0.6;
						}
					}
				}
				img.pending {
					position: absolute;
					z-index: 30;
					height: 200px;
					width: 492px;
					top: 50% !important;
					left: 50% !important;
					margin-top: -100px;
					margin-left: -246px;
					opacity: 1 !important;
					@media #{$mobile} {
						height: 100px;
						width: 246px;
						margin-top: -50px;
						margin-left: -123px;
					}
				}
				img.sold {
					position: absolute;
					z-index: 30;
					height: 200px;
					width: 365px;
					top: 50% !important;
					left: 50% !important;
					margin-top: -100px;
					margin-left: -182px;
					opacity: 1 !important;
					@media #{$mobile} {
						height: 100px;
						width: 182px;
						margin-top: -50px;
						margin-left: -91px;
					}
				}
			}
			@media #{$tablet} {
				background-size: cover;
				width: 100%;
				min-height: 350px;
				height: auto;
				a {
					min-height: 250px;
				}
			}
			@media #{$mobile} {
				min-height: 250px;
			}
		}
	}
}

// Move-In Ready Single Styles
.single-move_in_ready {
	header {
		.container {
			top: 55%;
			h2 {
				position: relative;
				z-index: 30;
			}
			img {
				display: inline-block;
				position: absolute;
				top: 50px;
				left: 0;
				z-index: 25;
				max-height: 90px;
				height: auto;
				width: 100%;
				opacity: 0.6;
				transform:rotate(7.5deg);
				-ms-transform:rotate(7.5deg); /* IE 9 */
				-webkit-transform:rotate(7.5deg); /* Opera, Chrome, and Safari */
			}
		}
	}
}

.mi_meta {
	text-transform: uppercase;
	a {
		color: inherit;
	}
	.community {
		margin-right: 20px;
	}
	.map_it {
		white-space:nowrap;
		a {
			position: relative;
			color: $lightbrown;
			padding-left: 25px;
			img {
				@include vertical-align;
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 20px;
				height: 20px;
			}
		}
	}
}
.mi_description {
	@include span-columns(5.5);
	@media #{$mobile} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.mi_image {
	@include shift(1.5);
	@include span-columns(5);
	float: right;
	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
	@media #{$mobile} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
.mi_footer {
	color: $darkbrown;
}
.listing_info {
	@include span-columns(5.5);
	text-align: left;
	h3 {
		text-align: left;
	}
	hr {
		margin-left: 0;
	}
	li {
		float: left;
		margin-right: 10px;
		span {
			font-weight: 600;
		}
	}
	@media #{$tablet} {
		@include span-columns(6);
	}
	@media #{$mobile} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.mi_buttons {
	@include shift(4);
	@include span-columns(2.5);
	margin-top: 35px;
	a {
		text-align: center;
		display: block;
		width: 100%;
		color: $darkbrown;
		font-weight: 600;
		margin: 10px 0;
	}
	@media #{$tablet} {
		@include shift(2);
		@include span-columns(4);
	}
	@media #{$mobile} {
		margin-top: 30px;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.under_construction {
	text-transform: uppercase;
	font-weight: 900;
	color: $white;
	border: 3px solid $white;
	padding: 5px 10px;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
}
	
// Comm Landing Styles
.comm_buckets {
	@include clearfix;
	.comm_bucket {
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		width: 50%;
		float: left;
		margin: 0;
		height: 500px;
		text-align: center;
		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background: $lightbrown;
			opacity: 0.1;
			transition: all 300ms ease;
			z-index: 15px;
		}
		.comm_bucket_info {
			@include vertical-align;
			z-index: 20;
		}
		h3 {
			color: $white;
		}
		h3.location {
			position: absolute;
			@include vertical-align;
			opacity: 1;
			transition: all 300ms ease;
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 20;
		}
		.hover_content {
			position: absolute;
			@include vertical-align;
			top: 40%;
			opacity: 0;
			transition: all 300ms ease;
			img {
				width: 80px;
				height: 80px;
			}
		}
		&:hover {
			.overlay {
				opacity: 0.75;
			}
			.hover_content {
				opacity: 1;
			}
			h3.location {
				opacity: 0;
			}
		}
		@media #{$tablet} {
			height: 400px;
		}
		@media #{$mobile} {
			width: 100%;
			height: 300px;
		}
	}
} 

// City Comm Single Page
.page-template-page-city-community-php header {
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.container {
		@include vertical-align;
		@include horizontal-align;
		left: 50%;
		z-index: 9998;
		position: absolute;
		width: 100%;
		h2 {
			color: $white;
			font: 45px $printed;
			line-height: 55px;
		}
	}
	@media #{$mobile} {
		.container {
			h2 {
				font-size: 30px;
				line-height: 40px;
			}
		}
	}
}
.secondary_nav {
	@extend details; 
}
.comm_intro {
	text-align: center;
	max-width: 800px;
	margin: auto;
	h2 {
		font: 60px $jenna;
		line-height: 70px;
		color: $darkbrown;
	}
}
.comm_footer {
	position: relative;
	overflow: hidden;
	color: $white;
	.overlay {
		display: none;
	}
	.comm_footer_bg {
		position: absolute;
		top: -20px;
		left: -20px;
		right: -20px;
		bottom: -20px;
		width: 120%;
		height: 110%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 15;
		img {
			-webkit-filter: blur(7px) brightness(0.75);
			-moz-filter: blur(7px) brightness(1);
			-o-filter: blur(7px) brightness(0.75);
			-ms-filter: blur(7px) brightness(0.75);
			filter: blur(7px) brightness(0.75);
			position: relative; right: 0; bottom: 0;
			min-width: 100%; min-height: 100%;
			width: auto; height: auto; 
		}
	}
	.container {
		position: relative;
		z-index: 20;
	}
	.comm_footer_desc {
		h3 {
			color: $yellowwhite;
		}
		hr {
			background: $yellowwhite;
			margin-left: 0;
		}
		@include span-columns(6);
		@media #{$tablet} {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 5%;
		}
	}
	.comm_footer_list {
		@include shift(1);
		@include span-columns(5);
		li {
			position: relative;
			padding-left: 50px;
			margin-bottom: 35px;
			&:before {
				position: absolute;
			    top: -3px;
			    left: 0;
			    content: "";
			    width: 35px;
			    height: 35px;
				background: url(../images/logo_white.svg) no-repeat center center;
			}
		}
		@media #{$tablet} {
			margin-top: 30px;
			li {
				float: left;
				width: 45%;
				&:nth-child(2n+1) {
					clear: both;
				}
			}
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		@media #{$mobile} {
			li {
				float: none;
				width: 100%;
				&:nth-child(2n+1) {
					clear: none;
				}
			}
		}
	}
}
	
// Single Comm Styles
.single-community {
	.row {
		@include clearfix;
		margin: 0;
		padding: 0;
		display: table;
		border-bottom: 0;
		@media #{$tablet} {
			display: block;
		}
		.grid-6 {
			float: none;
			width: 50%;
			display: table-cell;
			padding: 0;
			margin: 0;
			position: relative;
			vertical-align: middle;
			@media #{$tablet} {
				display: block;
				width: 100%;
			}
		}
		.sing_comm_desc {
			padding: 60px; 
			color: $yellowwhite;
			@media #{$tablet} {
				padding: 30px 2.5% 40px 2.5%;
			}
		}
		hr {
			margin-left: 0;
			background: $lightbrown;
		}
		.sing_comm_featured_image {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			@media #{$tablet} {
				height: 300px;
			}
		}
		.sing_comm_buttons {
			text-align: center;
			display: inline-block;
			margin-top: 30px;
			li {
				float: left;
				margin-right: 15px;
				margin-bottom: 30px;
				a {
					font-weight: 600;
				}
				&:last-child {
					margin-right: 0;
					margin-bottom: 0;
				}
				.information_packet {
					position: relative;
					padding-left: 35px;
					color: $white;
					font-size: 18px;
					img {
						@include vertical-align;
						position: absolute;
						top: 50%;
						left: 0;
						display: block;
						width: 25px;
						height: 25px;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.sing_comm_plot_layout,
		.sing_comm_extras {
			padding: 70px 0;
			@media #{$tablet} {
				padding: 0;
			}
		}
		.sing_comm_map {
			padding: 60px;
			.map_canvas {
				width: 100%;
				height: 400px;
				background-size: cover;
				background-position: center center;
				@media #{$tablet-large} {
					height: 260px;
				}
				@media #{$mobile} {
					height: 200px;
				}
				a {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					z-index: 30;
					&:hover {
						cursor: pointer !important;
					}
				}
				.container {
					@include vertical-align;
					position: absolute;
					text-align: center;
					z-index: 50;
					width: 100%;
					text-transform: uppercase;
					h4 {
						font-weight: 600;
					}
					h5 {
						color: $darkbrown;
					}
					img {
						width: 100%;
						height: 40px;
					}
				}
				img {
					max-width: 100%;
					max-height: 100%;
					height: auto;
					width: auto;
					display: block;
					margin: auto;
				}
			}
			@media #{$tablet} {
				padding: 30px 2.5%;
				width: 100%;
			}
		}
		.sing_comm_highlights {
			@extend .available_in;
			width: 100%;
			color: $gray;
			@media #{$tablet} {
				padding: 0 2.5%;
				width: 100%;
			}
		}
		.sing_comm_images {
			margin-top: 50px;
			@include span-columns(9);
			li {
				@include span-columns(4.5 of 9);
				//padding: 5px;
				//background: rgba(0,0,0,0.1);
				img {
					display: block;
					width: 100%;
					height: auto;
					margin: 0;
				}
			}
			@media #{$tablet} {
				padding: 0 2.5% 80px 2.5%;
				width: 100%;
			}
		}
	}
	&:nth-child(1n) .dwood {
		background-position: center center;
	}
	&:nth-child(2n) .dwood {
		background-position: right top;
	}
	&:nth-child(3n) .dwood {
		background-position: left bottom;
	}
	&:nth-child(4n) .dwood {
		background-position: right bottom;
	}
}
.sing_comm_mi_buckets {
	h3 {
		text-align: left;
	}
	hr {
		margin-left: 0;
	}
	ul {
		margin-top: 20px;
		li {
			@include span-columns(3);
			a {
				color: $darkbrown;
				.mi_bucket_image {
					//padding: 5px;
					//background: rgba(0,0,0,0.1);
					margin-bottom: 10px;
					img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
				.mi_floorplan {
					font: 18px $printed;
					text-transform: uppercase;
					width: 60%;
					float: left;
				}	
				.mi_price {
					font: 18px $printed;
					text-transform: uppercase;
					width: 40%;
					color: $lightbrown;
					text-align: right;
					float: right;
				}
			}
			@media #{$tablet-1} {
				@include span-columns(6);
			}
			@media #{$mobile} {
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				margin-bottom: 20px;
			}
		}
	}
}

// About Styles 
.page-id-13 {
	header {
		background: url(../images/about_header.jpg) no-repeat center bottom;
		background-size: cover;
		.container {
			@include vertical-align;
			text-align: center;
			max-width: 850px;
			color: $white;
			h2 {
				font: 60px $caecilia;
				line-height: 70px;
				font-weight: 300;
				font-style: italic;
			}
			p {
				font-size: 20px;
				line-height: 30px;
				max-width: 700px;
				margin: 0 auto;
				font-style: italic;
			}
		}
	}
	p {
		margin-bottom: 25px;
	}
	hr {
		background: $darkbrown;
		margin-left: 0;
	}
	@media #{$mobile} {
		header {
			.container {
				h2 {
					font: 35px $caecilia;
					line-height: 45px;
					font-weight: 300;
					font-style: italic;
				}
				p {
					font-size: 16px;
					line-height: 21px;
				}
			}
		}
	}
}

.testimonial_wrapper {
	width: 80%;
	margin: 60px auto;
	text-align: center;
	font-family: $caecilia;
	hr {
		margin-left: auto;
	}
	.testimonial_bg {
		width: 67px;
		height: 50px;
	}
	.slider {
		margin-top: 40px;
	}
	li {
		p {
			font-size: 30px;
			line-height: 40px;
			color: $darkbrown;
		}
		h4 {
			font-size: 24px;
			line-height: 34px;
		}
	}
	@media #{$mobile} {
		width: 90%;
		li {
			p {
				font-size: 25px;
				line-height: 35px;
				color: $darkbrown;
			}
			h4 {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}

.our_founders_wrapper {
	@include clearfix;
	.founders_image {
		@include span-columns(4);
		margin-bottom: 20px;
		img {
			display: block;
			max-height: 100%;
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	.our_founders {
		@include span-columns(8);
	}
	@media #{$mobile} {
		.founders_image,
		.our_founders {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
		}
	}
}

.todds_book {
	background: url(../images/todds_book_bg.jpg) no-repeat center bottom;
	background-size: cover;
	position: relative;
	padding: 160px 0;
	.book_description {
		@include span-columns(7.5);
		color: $yellowwhite;
		font-size: 18px;
		line-height: 28px;
		h2 {
			font: 45px $caecilia;
			line-height: 55px;
			font-weight: 300;
			font-style: italic;
			color: $yellowwhite;
		}
	}
	.book_image {
		@include span-columns(4);
		@include vertical-align;
		position: absolute;
		right: 0;
		img {
			display: block;
			max-height: 100%;
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	@media #{$tablet} {
		padding: 80px 0;
	}
	@media #{$mobile} {
		.book_description {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		.book_image {
			margin-top: 60px;
			width: 85%;
			float: none;
			position: relative;
			right: -15%;
			text-align: right;
			top: 0 !important;
			-webkit-transform: translateY(0%)!important;
			-ms-transform: translateY(0%) !important;
			transform: translateY(0%) !important;
		}
	}
}

.faq {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
	border-bottom: 1px solid #cecece;
	padding-bottom: 10px;
	margin-bottom: 15px;
	.question {
		color: $darkbrown;
		font-weight: 600;
		position: relative;
		padding-left: 30px;
		display: inline-block;
		&:before {
			@include vertical-align;
			position: absolute;
			left: 0;
			content: url(../images/faq_plus.svg);
			display: block;
			width: 20px;
			height: 20px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.answer {
		padding: 15px 30px 10px 30px;
		font-size: 14px;
		line-height: 24px;
		position: relative;
	    display: block;
	    clear: both;
	    float: left;
		p {
			margin-bottom: 0;
		}
	}
	&:nth-child(even) {
		margin-right: 0;
	}
	@media #{$tablet} {
		width: 100%;
		margin-right: 0;
	}
}

// Contact Styles 
#map {
	width: 100%;
	height: 570px;
	@media #{$mobile} {
		height: 325px;
	}
}

.social {
	li {
		float: left;
		width: 20px;
		height: 20px;
		margin-right: 15px;
		margin-bottom: 5px;
		a {
			opacity: 0.7;
			display: block;
			width: 100%;
			height: 100%;
			transition: all 300ms ease;
		}
		a:hover {
			opacity: 1;
		}
		&:last-child {
			margin-right: 0;
		}
		img {
			backface-visibility: hidden;
			display: block;
			width: 20px;
			height: 20px;
		}
	}
}

.contact_info_wrapper {
	@include span-columns(5.5);
	hr {
		margin-left: 0;
		background: $lightbrown;
	}
	.contact_section {
		margin: 25px 0;
		h5 {
			font-size: 18px;
			font-weight: 600;
		}
		a {
			color: inherit;
		}
		.social {
			margin-top: 40px;
			img {
				-webkit-filter: grayscale(100%) brightness(0.2);
				-moz-filter: grayscale(100%) brightness(0.2);
				-ms-filter: grayscale(100%) brightness(0.2);
				-o-filter: grayscale(100%) brightness(0.2);
				filter: grayscale(100%) brightness(0.2);
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/><feComponentTransfer><feFuncR type='linear' slope='0.2'/><feFuncG type='linear' slope='0.2'/><feFuncB type='linear' slope='0.2'/></feComponentTransfer></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			}
		}
	}
	@media #{$mobile} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
}

.contact_form_wrapper {
	@include span-columns(6.5);
	.grid-6 {
		width: 49.5%;
		margin-right: 1%;
		margin-bottom: 1%;
		&.omega {
			margin-right: 0;
		}
	}
	.grid-12 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1%;
	}
	.field_group {
		height: 49px;
		overflow: hidden;
	}
	@media #{$mobile} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

input, textarea {
  	font-family: $brandon;
  	font-size: inherit;
    background-color: #efefef;
    color: $darkbrown;
    width: 100%;
	padding: 15px;
	outline: none;
	border: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}

input[type="submit"]:hover {
	cursor: pointer;
}

select {
	color: #9a9a9a;
	padding: 15px;
  	font-family: $brandon;
  	font-size: inherit;
	border-radius: 0;
	width: 100%;
	height: 49px;
	overflow: hidden;
	background-color: #efefef;
	border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
	-webkit-appearance: none;
    &#cursus {
	    height: auto;
	    overflow: visible;
    }
}

textarea {
	overflow: auto;
	resize: none;
	display: block;
}

.form_submit {
	clear: both;
	max-width: 150px;
	margin-top: 50px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
}

.wpcf7-submit {
	@extend .button-gold-solid;
	&:hover {
		cursor: pointer;
	}
}

.ajax-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

.wpcf7 .watermark {
    color: #9a9a9a !important;
}
::-webkit-input-placeholder {
    color: #9a9a9a !important;
}
::-moz-placeholder {
    color: #9a9a9a !important;
}

.screen-reader-response {
	display: none;
}

.wpcf7-response-output {
	margin-top: 30px;
	color: $white;
	border: 0 !important;
}

#popup {
	.wpcf7-response-output {
		text-align: center;
		margin: 10px 0 0 0;
		width: 100%;
	}
}
.page-template-page-contact-php {
	.wpcf7-response-output {
		color: $gray;
		text-align: center;
	}	
}

// Footer Styles
footer {
	background: url(../images/footer_bg.jpg) repeat center top;
	padding: 70px 0 0 0;
	color: $yellowwhite;
	font-weight: 300;
	a {
		color: inherit;
	}
	h4 {
		font: 18px $printed;
		border-bottom: 1px solid #555555;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	.upper_footer {
		@include clearfix;
		margin-bottom: 40px;
	}
	.lower_footer {
		@include clearfix;
		border-top: 1px solid #555555;
		padding: 30px 0 10px 0;
		.copyright, .credentials {
			@include span-columns(5);
		}
		.credentials {
			text-align: right;
		}
		.footer_logo {
			@include span-columns(2);
			text-align: center;
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
	.footer_section {
		@include span-columns(2.5);
	}
	.footer_badge {
		@include shift(1);
		@include span-columns(3.5);
		text-align: right;
		img {
			float: right;
			max-width: 250px;
			height: auto;
		}
	}
	.footer_contact p {
		margin-bottom: 0;
	}
	#mc_embed_signup {
		margin-top: 35px;
		.email {
			color: $yellowwhite;
			font-weight: 300;
			background: rgba(255,255,255,0.25);
			padding: 10px;
		}
	}
	
	@media #{$mobile} {
		.footer_section,
		.footer_badge {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 30px;
		}

		.footer_badge {
			text-align: center;
			margin-bottom: 0;
			img {
				margin: 0 auto;
				float: none;
				max-width: 70%;
				height: auto;
			}
		}
	}
}


// LightBox Styles 
.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: $darkbrown;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.9;
	display: none;
}

.lb-outerContainer {
  position: relative;
  background-color: #746a64;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; 
}


@media print {

* {
	padding: 0;
	margin: 0;
}

body {
	color: $darkbrown !important;
	background: #fff;
	font-size: 13px !important;
	font-style: normal !important;
}

h3 {
	font: 16px $printed; 
	line-height: 25px;
	color: $darkbrown;
}

.section {
	padding: 0;
}

.small_section {
	padding: 0;
}

nav,
footer,
.floorplan_buttons,
hr {
	display:none !important;
}

header {
	min-height: 0 !important;
	height: 250px !important;
	margin: 0;
	padding: 0;
	.fp_post_nav
	{
		display: none;
	}
	img {
	   max-width: 100% !important;
	   max-height: 100% !important;
	   height: auto !important;
	   width: auto !important;
	}
}

img {
   max-width: 100% !important;
   height: auto !important;
}

.details {
	margin-bottom: 20px;
	display: inline-block;
	z-index: 50;
	position: relative;
	li {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
		border-right: 1px solid rgba(49,37,27,0.3);
		color: $darkbrown;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 10px !important;
		line-height: 18px;
		padding: 0 10px !important;
		text-align: center;
		margin-bottom: 10px;
		&:last-child {
			border-right: 0;
		}
	}
		
}

.floorplan_images_wrapper .floorplan_images {
	margin-top: 0;
}

.floorplan_images {
	margin-top: 30px;
	li {
		page-break-after: always;
		width: 100% !important;
		height: auto !important;
		max-height: 400px;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
		&:nth-child(even) {
			@include shift(0);
		}
		&:nth-child(2n+1) {
			clear: both;
		}
		img {
			display: inline-block;
			vertical-align: middle;
		    max-width:100%;
		    max-height:100%;
		    width:auto;
		    height:auto;
		}
	}
}

.features_wrapper {
	padding-top: 40px;
	page-break-before: always;
	width: 100% !important;
	h3 {
		color: $darkbrown;
	}
	.features {
		width: 50%;
		color: $darkbrown;
		font-style: normal;
		li {
			line-height: 23px;
			margin-left: 20px;
			list-style: disc;
		}
	}
}

.floorplan_featured_image {
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width: 100%;
	z-index: 5;	
	img {
		max-width: none;
		width: auto;
		height: 100%;
	}
}

.floorplan_featured_image {
	width: 100%;
	height: 250px;
	img {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -30%;
		height: 100% !important;
		width: auto !important;
		z-index: 5;
	}
}

.secondary_images {
	display: none;
}

.bx-wrapper {
	display: none;
}

}

@-moz-document url-prefix() {
	.row {
		clear: both;
	}
	.comm_footer {
		.overlay {
			display: block;
			z-index: 16;
			opacity: 0.75;
		}
	}
}


